<template>
  <div class="">
    <v-app-bar fixed app color="#10375C">
      <v-container>
        <v-col>
          <v-row>
            <img :src="require(`~/assets/img/logo-admin.png`)" class="mr-16" />
            <div class="menu-header ml-16">
              <v-row align="center">
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  @click="$router.push('/')"
                  ><span>Trang chủ</span></v-col
                >
                <v-col
                  style="cursor: pointer"
                  class="text-center active-menu"
                  @click="$router.push('/cyber-list?pageIndex=0&pageSize=9&searchContent=')"
                  >Quán game</v-col
                >
                <v-col 
                  style="cursor: pointer" 
                  class="text-center"
                  @click="$router.push('/about-us')"
                >
                  Về chúng tôi
                </v-col>
              </v-row>
            </div>
            <div v-if="userInfo">
              <v-menu bottom min-width="200px" rounded offset-y>
                <template #activator="{ on }">
                  <v-btn icon x-large v-on="on">
                    <v-avatar size="40">
                      <img v-lazy="$getIpfs(get(userInfo, 'image', ''))" />
                    </v-avatar>
                  </v-btn>
                </template>
                <v-card>
                  <v-list-item-content class="justify-center">
                    <div class="mx-auto text-center">
                      <v-avatar size="40">
                        <img v-lazy="$getIpfs(get(userInfo, 'image', ''))" />
                      </v-avatar>
                      <h3>{{ get(userInfo, 'fullname', '') }}</h3>
                      <p class="text-caption mt-1">
                        {{ get(userInfo, 'email', '') }}
                      </p>
                      <v-divider class="my-3"></v-divider>
                      <v-btn depressed rounded text @click="$router.push('/profile')"> Hồ sơ </v-btn>
                      <v-divider class="my-3"></v-divider>
                      <v-btn depressed rounded text @click="$auth.logout()">
                        Đăng xuất
                      </v-btn>
                    </div>
                  </v-list-item-content>
                </v-card>
              </v-menu>
            </div>
            <v-btn v-else dark class="mt-2" color="#FF5722" @click="$router.push('/login')">Đăng nhập</v-btn>
          </v-row>
        </v-col>
      </v-container>
    </v-app-bar>
    <img v-lazy="$getIpfs(get(cyberDetail, 'image', ''))" class="img-banner" /> 
    <div class="contain-cyber-detail px-12">
      <span class="cyber-name">{{get(cyberDetail, 'cyberName', '')}}</span>
      <v-row class="cyber-info mb-2">
        <v-col cols="7"><v-icon class="mr-1 cl-black" right> mdi-home </v-icon> {{get(cyberDetail, 'address', '')}}</v-col>
        <v-col>
          <v-icon class="mr-1 cl-black" right> mdi-monitor-cellphone </v-icon>
          {{get(cyberDetail, 'slotReady', '')}} chỗ trống
        </v-col>
        <v-col>
          <v-icon class="mr-1 cl-black" right> mdi-phone </v-icon>
          {{get(cyberDetail, 'phoneNumber', '')}}
        </v-col>
      </v-row>
      <span>{{get(cyberDetail, 'cyberDescription', '')}}</span
      >
    </div>

    <v-container v-if="listRoom">
      <div v-for="(item, i) in listRoom" :key="i" class="cyber-item my-4">
        <img v-lazy="$getIpfs(get(item, 'roomImage', ''))" class="img-cyber" />
        <div class="contain-right px-12">
          <div class="cyber-item-info">
            <span class="cyber-name">{{get(item, 'roomName', '')}}</span>
          </div>
          <div>
            <v-row>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-monitor-cellphone </v-icon>
                <span class="cyber-info-detail">{{get(item, 'slotReadyInRoom', '')}} chỗ trống</span>
              </v-col>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-cpu-64-bit </v-icon>
                <span class="cyber-info-detail">{{get(item, 'gpu', '')}}</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-floor-plan </v-icon>
                <span class="cyber-info-detail">{{get(item, 'roomPosition', '')}}  / {{get(item, 'roomName', '')}}</span>
              </v-col>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-chip </v-icon>
                <span class="cyber-info-detail">{{get(item, 'ram', '')}}</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-door </v-icon>
                <span class="cyber-info-detail">{{get(item, 'roomTypeName', '')}}</span>
              </v-col>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-monitor </v-icon>
                <span class="cyber-info-detail">{{get(item, 'monitor', '')}}</span>
              </v-col>
            </v-row>
          </div>
          <div class="detail-booking">
            <span class="price">{{get(item, 'priceRoom', '')}} vnđ/giờ</span>
            <div>
              <v-btn dark class="btn-booking" @click="$router.push(`/cyber-room-detail?id=${get(item, 'roomId', '')}&cyberId=${cyberId}`)">ĐẶT CHỖ</v-btn>
            </div>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>
import get from 'lodash/get'
export default {
  layout: 'new-layout',
  middleware: ['user'],
  async asyncData(content) {
    let listRoom = [
      {
        roomName: '',
        slotReadyInRoom: '',
        gpu: '',
        roomPosition: '',
        ram: '',
        roomTypeName: '',
        monitor: '', 
      }
    ]
    let cyberDetail = {
      image: '',
      cyberName: '',
      address: '',
      slotReady: '',
      phoneNumber: '',
      cyberDescription: '',
    }
    try {
      const listRoomResponse = await content.store.$api.room.getListRoomByCyberId(0, 999, content.query.id)
      const cyberDetailResponse = await content.store.$api.search.getCyberById(content.query.id)
      listRoom = listRoomResponse.data.data
      cyberDetail = cyberDetailResponse.data.data
    } catch (error) {
        content.redirect('/login');
    }
    return {
      listRoom,
      cyberDetail,
    }
  },

  data(){
    return {
      cyberId: this.$route.query.id,      
      userInfo: this.$auth.user
    }
  },
  methods: {
    get
  }
}
</script>
<style lang="scss" scoped>
.img-banner {
  width: 100%;
  height: 465px;
}

.contain-cyber-detail {
  background: #ff57221c;
  padding: 20px 0;
  width: 100%;
  .cyber-name {
    font-size: 40px;
    font-weight: bold;
  }
  .cyber-info {
    color: #777;
  }
}
.cl-black {
  color: #000;
}
.cyber-item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);

  .contain-right {
    width: 100%;
    .cyber-item-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .cyber-name {
        color: #33344f;
        font-size: 24px;
        font-weight: 500;
      }
      .cyber-info-detail {
        color: #777;
        font-weight: 500;
      }
    }
    .detail-booking {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      .price {
        color: #191d23;
        font-size: 20px;
        font-weight: 600;
      }
      .btn-booking {
        background: #ff5722;
      }
    }
  }
}
.img-cyber{
  min-width: 384px;
  height: 268px;
}
.menu-header {
  margin: auto;
  width: 400px;
  font-weight: 500;
  color: #fff !important;
}

.active-menu {
  color: #ff5722;
  border-bottom: 2px solid;
  padding: 6px 0;
}
.send-field {
  opacity: 20%;
}
.large-text {
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 3px;
  font-size: 25px;
}
</style>
