<template>
  <v-card class="room-container">
    <div class="pa-8">
      <div :key="componentKeyReset" class="contain">
        <v-row class="filter-list mb-5" align="center">
          <v-col>
            <div class="txt-user-manager">Quản lý người dùng</div>
          </v-col>
          <v-col cols="4" class="mt-7">
            <v-row>
              <v-col>
                <v-text-field
                  label="Tìm theo Họ tên"
                  single-line
                  dense
                  outlined
                  @input="searchUser"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="table-header my-5">
          <v-col>Email</v-col>
          <v-col>Họ tên</v-col>
          <v-col>Số Điện Thoại</v-col>
          <v-col>Đánh giá</v-col>
          <v-col cols="2" class="text-center">Thao Tác</v-col>
        </v-row>
        <v-row
          v-for="(item) in listUsers.data"
          :key="item.id"
          class="table-row mb-5"
        >
          <v-col>{{ item.email }}</v-col>
          <v-col>{{ item.fullname }}</v-col>
          <v-col>{{ item.phoneNumber }}</v-col>
          <v-col>
            <v-rating
              :value="item.ratingPoint"
              background-color="yellow"
              color="yellow accent-4"
              dense
              half-increments
              readonly
              size="20"
            ></v-rating>
          </v-col>
          <v-col cols="2" class="text-center">
            <v-menu offset-y max-width="151">
              <template #activator="{ on, attrs }">
                <v-chip v-if="item.status === USER_STATUS.ACTIVE" outlined width="151" v-bind="attrs" color="#00CD15" class="user-status" v-on="on">Đang hoạt động</v-chip>
                <v-chip v-if="item.status === USER_STATUS.BLOCK" outlined width="151" v-bind="attrs" color="#ff5252" class="user-status"  v-on="on">Khoá</v-chip>
              </template>
              <v-list class="com-popup">
                <v-list-item v-if="item.status === USER_STATUS.ACTIVE" @click="lockUser(item.id)">
                  <div class="item-popup">
                    <span>Khoá</span>
                  </div>
                </v-list-item>
                <v-list-item v-if="item.status === USER_STATUS.BLOCK"  @click="activeUser(item.id)">
                  <div class="item-popup">
                    <span>Hoạt động</span>
                  </div>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>
        </v-row>
        <div>
          <v-pagination
            v-if="listUsers.totalPage > 1"
            v-model="pageIndex"
            class="my-12"
            :length="listUsers.totalPage"
            @input="onChangePage"
          />
        </div>        
      </div>
    </div>
  </v-card>
</template>

<script>
import _ from 'lodash'
import { USER_STATUS, CYBER_STATUS } from '~/enums/roleUser'
export default {
  async asyncData({ store, query, redirect }) {
    let listUsers
    try {
      const { data } = await store.$api.adminUser.getListUser(query.pageIndex, query.pageSize, query.username)      
      listUsers = data
    } catch (error) {
      redirect('/login');          
    }
    return {
      listUsers,
    }
  },
  data() {
    return {
      USER_STATUS,
      CYBER_STATUS,
      tab: null,
      items: [
        {
          key: 'Đang chờ',
          value: CYBER_STATUS.PENDING
        },
        {
          key: 'Hoạt động',
          value: CYBER_STATUS.ACTIVE
        },
        {
          key: 'Dừng hoạt động',
          value: CYBER_STATUS.DEACTIVATE
        }
      ],
      componentKeyReset: 0,
      pageSize: 12,
      username: _.get(this.$route.query, 'username', ''),
      pageIndex: parseInt(_.get(this.$route.query, 'pageIndex', 0)),
    }
  },
  watch: {
    username (newVal) {
      this.$router.push({
        query: _.assign({}, this.$route.query, { username: newVal, pageIndex: 1 })
      })
    }
  },
  watchQuery: true,
  methods: {
    forceRerender() {
      this.componentKeyReset += 1
    },
    searchUser(_value) {
      this.username = _value.trim()
    },
    async lockUser(id) {
      try {
        await this.$api.adminUser.lockUserById(id)
        const { data } = await this.$api.adminUser.getListUser(this.$route.query.pageIndex, this.$route.query.pageSize, this.$route.query.username)
        this.listUsers = data
        this.forceRerender()
      } catch (error) {
        console.log(error);
      }
    },
    async activeUser(id) {
      try {
        await this.$api.adminUser.activeUserById(id)
        const { data } = await this.$api.adminUser.getListUser(this.$route.query.pageIndex, this.$route.query.pageSize, this.$route.query.username)
        this.listUsers = data
        this.forceRerender()
      } catch (error) {
        console.log(error);
      }
    },
    onChangePage () {
      this.$router.push({
        query: _.assign({}, this.$route.query, { pageIndex: this.pageIndex })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.txt-header {
  font-weight: bold;
  font-size: 32px;
  color: #797979;
  display: flex;
  align-items: center;
  .icon {
    font-size: 38px;
    cursor: pointer;
  }
}
.info-detail {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 95%;
  margin: auto;
  .info-left,
  .info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img-avatar {
    margin: auto;
    padding-bottom: 38px;
  }
  .btn-edit {
    text-align: right;
    margin: auto;
    padding-bottom: 38px;
  }
  .form-edit {
    margin: auto;
    margin-bottom: 2px;
  }
}
.history-booking {
  width: 95%;
  margin: auto;
  .txt-title {
    font-size: 26px;
    font-weight: 500;
  }
  .table-header {
    margin: auto;
    background: #255cc2;
    color: #fff;
    border-radius: 10px;
  }
  .table-row {
    margin: auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}
.room-container {
  background: #f4f4f4;
  height: 100%;
  .contain {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 32px;
    .filter-list {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      .txt-user-manager {
        font-weight: bold;
        font-size: 30px;
        color: #797979;
      }
    }
    .txt-filter {
      font-size: 18px;
      color: #535353;
    }
    .table-header {
      background: #255cc2;
      color: #fff;
      border-radius: 10px;
    }
    .table-row {
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
  }
}
.v-card--reveal {
  opacity: 1 !important;
  position: absolute;
  top: 32px;
  right: 0;
  width: 100%;
}
.user-status {
  width: 126px;
  justify-content: center;
}
</style>
