<template>
  <v-container>
    <div class="login-form pa-9">
      <v-form ref="formLogin">
        <div>
          <v-text-field
            v-model="email"
            outlined
            :rules="ruleEmail"
            required
            type="text"
            rounded
            placeholder="Nhập email"
            class="login-input"
          />
          <v-text-field
            v-model="password"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="rulePassword"
            :type="show ? 'text' : 'password'"
            outlined
            required
            rounded
            placeholder="Nhập mật khẩu"
            class="login-input"
            @click:append="show = !show"
          />
          <v-btn block dark x-large class="mb-4" color="#FF5722" :loading="loadingLogin" @click="login()">Đăng nhập</v-btn>
          <v-btn block outlined color="#FF5722" @click="$router.push('/forget-pass')">Quên mật khẩu</v-btn>
          <v-divider color="#e6e4eb" class="my-5"/>
          <v-btn block dark x-large color="#00CD15" @click="register()">Tạo tài khoản mới</v-btn>
        </div>
      </v-form>
    </div>
    <v-dialog
      v-model="dialog"
      width="700"
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/Error.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4">
          {{messageError}}
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="closeDialogError">
          Ok
        </v-btn>
      </div>        
    </v-dialog>
  </v-container>
</template>

<script>
import { USER_ROLE } from '~/enums/roleUser'

export default {
  layout: 'login',
  // middleware: ['guest'],
  data() {
    return {
      email: '',
      password: '',
      show: false,
      ruleEmail: [
        (v) => !!v || 'Chưa nhập email',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      rulePassword: [
        (v) => !!v || 'Chưa nhập mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      loadingLogin: false,
      dialog: false,
      messageError: 'Email hoặc mật khẩu không đúng!'
    }
  },

  methods: {
    async login() {
      if (this.$refs.formLogin.validate()) {
        try {
          this.loadingLogin = true
          const loginParams = {
            username: this.email,
            password: this.password,
          }
          const response = await this.$auth.loginWith('local', { data: loginParams })
          if (response.data.data) {
            const profile = this.$auth.user
            switch (profile?.roleId) {
              case USER_ROLE.ADMIN: {
                this.$router.push('/admin/cyber-manage?pageIndex=1&pageSize=10&statusCyberId=&cyberName=')
                break;
              }
              case USER_ROLE.CYBER: {
                this.$router.push('/admin-cyber/information')
                break;
              }
              case USER_ROLE.USER: {
                this.$router.push('/')
                // this.$router.back()
                break;
              }
            }
          }
          this.loadingLogin = false
        } catch (error) {
          this.dialog = true
          this.loadingLogin = false
          if(error.response.data.message === "User has BLOCK") {
            this.messageError = 'Tài khoản của bạn tạm thời không thể hoạt động!'
          }
          if(error.response.data.message === "Cyber not exist") {
            this.messageError = 'Tài khoản không tồn tại!'
          }
        }
      }
    },
    logout() {
      this.$auth.logout()
    },
    register() {
      this.$router.push('/register')
    },
    closeDialogError () {
      this.dialog = false
      this.messageError = 'Email hoặc mật khẩu không đúng!'
    }
  },
}
</script>

<style lang="scss" scoped>
.login-form {
  width: 35%;
  background: #fff;
  border-radius: 4px;
  margin: auto;
}
.dialog-message {
  background: rgb(61, 65, 75);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
</style>