<template>
  <div class="register">
    <v-container>
      <div class="contain tab4-center pa-9">
        <v-form ref="formRegister">
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="dataRegister.fullname"
                label="Họ tên"
                outlined
                dense
                required
                :rules="ruleName"
                placeholder="Nhập họ tên của bạn"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="dataRegister.email"
                label="Email"
                outlined
                dense
                required
                :rules="ruleEmail"
                placeholder="Nhập email của bạn"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="dataRegister.password"
                label="Mật khẩu"
                outlined
                dense
                :type="show1 ? 'text' : 'password'"
                required
                :rules="rulePassword"
                placeholder="Nhập mật khẩu"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"  
                @click:append="show1 = !show1"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="confirmPassword"
                label="Xác nhận mật khẩu"
                outlined
                dense
                :type="show2 ? 'text' : 'password'"
                required
                :rules="ruleConfirmPassword"
                placeholder="Nhập mật khẩu"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"  
                @click:append="show2 = !show2"
              ></v-text-field>
            </v-col>
          </v-row>     
        </v-form>
        <div class="my-2">
          <v-btn x-large block variant dark color="#FF5722" @click="register"> Đăng ký </v-btn>
          <v-divider color="#e6e4eb" class="my-5"/>
          <v-btn block dark x-large color="#00CD15" @click="$router.push('/login')">Đăng nhập</v-btn>
        </div>
      </div>
    </v-container>
    <v-dialog
      v-model="dialog"
      width="700"
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/Error.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4">
          Email đã tồn tại!
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="dialog = false">
          Ok
        </v-btn>
      </div>  
    </v-dialog>
    <v-dialog
      v-model="dialogSuccess"
      width="700"
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/success.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4">
          Đăng ký thành công!
        </v-card-title>
        <v-btn dark large color="success" class="btn-popup-message" @click="redirectLogin">
            Ok
          </v-btn>
      </div>  
    </v-dialog>
  </div>
</template>
<script>
export default {
  layout: 'login',
  data() {
    return {
      show1: false,
      show2: false,
      dataRegister: {
        fullname: '',
        email: '',
        password: '',
      },
      confirmPassword: '',
      rulePassword: [
        (v) => !!v || 'Vui lòng điền mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) => v.length >= 6 || 'Mật khẩu tối thiểu 6 ký tự',
      ],
      ruleName: [
        (v) => !!v || 'Vui lòng điền họ tên',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        v => !/(?=.*?[#?!@$%^&*-=+{}'"|`~])/.test(v) || 'Tên không có ký tự đặc biệt và số'
      ],
      ruleConfirmPassword: [
        (v) => !!v || 'Vui lòng xác nhận mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) =>
          this.dataRegister.password === this.confirmPassword ||
          'Mật khẩu chưa khớp'
      ],
      ruleEmail: [
        (v) => !!v || 'Vui lòng điền email',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        // eslint-disable-next-line no-useless-escape
        v => /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(v) || 'Chưa đúng định dạng Email',
        v => !/(?=.*?[#?!$%^&*=+{}'"|`~])/.test(v) || 'Chưa đúng định dạng Email'
      ],
      dialog: false,
      dialogSuccess: false
    }
  },
  methods: {
    async register () {
      if (this.$refs.formRegister.validate()) {
        try {
          const {data} = await this.$api.getUser.register(this.dataRegister)
          if (data.success) {
          this.dialogSuccess = true
          } 
        } catch (error) {
          this.dialog = true
        }
      }
    },
    redirectLogin () {
      this.$router.push('/login')
    }
  }
}
</script>
<style lang="scss" scoped>
.register {
  .contain {
    background: #fff;
    border: 1px solid #e6e4eb;
    border-radius: 4px;
    width: 35%;
    margin: auto;
  }
}
.dialog-message {
  background: rgb(61, 65, 75);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
</style>