<template>
  <div class="register">
    <v-container>
      <div v-if="step === 1" class="stepper px-5 mb-8">
        <span></span>
        <span class="mr-3">Bước 01/02</span>
      </div>
      <div v-if="step === 2" class="stepper px-5 mb-8">
        <span class="back-step" @click="step = 1">Quay lại</span>
        <span class="mr-3">Bước 02/02</span>
      </div>
      <div v-if="step === 1" class="step-name mb-2">
        Đăng Ký Cyber
      </div>
      <div v-if="step === 2" class="step-name mb-2">
        Địa chỉ và giấy phép
      </div>
      <div v-if="step === 1" class="contain tab4-center">
        <v-form ref="formRegister">
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="dataRegister.cyberName"
                label="Tên quán game"
                outlined
                dense
                required
                :rules="ruleCyberName"
                placeholder="Nhập quán game của bạn"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="dataRegister.email"
                label="Email"
                outlined
                dense
                required
                :rules="ruleEmail"
                placeholder="Nhập email của bạn"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="dataRegister.password"
                label="Mật khẩu"
                outlined
                dense
                :type="show1 ? 'text' : 'password'"
                required
                :rules="rulePassword"
                placeholder="Nhập mật khẩu"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"  
                @click:append="show1 = !show1"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="confirmPassword"
                label="Xác nhận mật khẩu"
                outlined
                dense
                :type="show2 ? 'text' : 'password'"
                required
                :rules="ruleConfirmPassword"
                placeholder="Nhập mật khẩu"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"  
                @click:append="show2 = !show2"
              ></v-text-field>
            </v-col>
          </v-row>  
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="dataRegister.bossCyberName"
                label="Tên Chủ Quán"
                outlined
                dense
                required
                :rules="ruleName"
                placeholder="Nhập tên Chủ Quán"
              ></v-text-field>
            </v-col>
          </v-row>  
          <v-row class="my-0">
            <v-col class="py-0">
              <v-text-field
                v-model="dataRegister.phoneNumber"
                label="Số Điện Thoại"
                outlined
                dense
                required
                type="number"
                :rules="rulePhone"
                placeholder="Nhập số điện thoại"
              ></v-text-field>
            </v-col>
          </v-row>   
        </v-form>
        <div class="my-2">
          <v-btn x-large block variant dark color="#1565D8" @click="doneStep1"> Tiếp tục </v-btn>
        </div>
      </div>
      <div  v-if="step === 2" class="contain tab4-center">
        <v-form ref="formStep2">
          <div class="my-2">
            <v-row class="my-0">
              <v-col class="py-0">
                <v-text-field
                  v-model="dataRegister.address"
                  label="Địa Chỉ"
                  outlined
                  :rules="ruleAddress"
                  dense
                  required
                  placeholder="Nhập địa chỉ"
                ></v-text-field>
              </v-col>
            </v-row>   
            <span>Giấy Phép Kinh Doanh</span><br>
            <v-row class="my-0">
              <v-col class="py-0 text-center">
                <div v-if="isLoadingUpload" class="contain-image">
                  <img 
                    src="~/assets/img/giphy.gif"
                    class="img-review"
                  />
                </div>
                <input
                  v-else
                  id="upload-file"
                  type="file"
                  :accept="acceptType"
                  class="input-upload"
                  @change="selectFile"
                />
                 <label for="upload-file">
                  <div v-if="!isLoadingUpload" class="contain-image">
                    <img                      
                      v-lazy="previewImg"
                      class="map"
                      alt="Vuetify.js"
                    />
                  </div>                  
                </label>
              </v-col>
            </v-row>    
            <v-btn x-large block variant color="#1565D8" :disabled="isLoadingUpload" :loading="isLoadingCreate" class="white--text mt-4" @click="register"> Hoàn thành </v-btn>
          </div>
        </v-form>
      </div>
    </v-container>
    <v-dialog
      v-model="dialog"
      width="700"
    >
      <div class="pa-7 dialog-error">
        <img
          src="~/assets/img/Error.svg"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4">
          Email đã tồn tại!
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="dialog = false">
          Ok
        </v-btn>
      </div>  
    </v-dialog>
    <v-dialog
      v-model="dialogSuccess"
      width="700"
    >
      <div class="pa-7 dialog-message">
        <v-card-title class="text-h5 mb-4">
          <span class="txt-alert-success">Đăng Ký Thành Công</span>
        </v-card-title>
        <div style="font-size: 30px; text-align: center">
          Chúng tôi sẽ liên hệ với bạn sớm nhất có thể. Mọi thắc mắc xin liên hệ trợ giúp.
        </div>
        <div class="contact pa-3">
          <v-row>
            <v-col>
              <v-icon>mdi-email-outline</v-icon> contact@gocyber.xyz
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-icon>mdi-phone-outline</v-icon> 0846846886 Mr.Đăng
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-icon>mdi-map-marker-outline</v-icon> Số 1 Thái Hà, Đống Đa, Hà Nội
            </v-col>
          </v-row>
        </div>
        <v-btn dark large color="success" class="mt-5" @click="redirectLogin">
          Trở về trang chủ
        </v-btn>
      </div>  
    </v-dialog>
  </div>
</template>
<script>
export default {
  layout: 'register-cyber',
  data() {
    return {
      show1: false,
      show2: false,
      dataRegister: {
        cyberName: '',
        address: '',
        bossCyberName: '',
        email: '',
        password: '',
        phoneNumber: '',
        lat: '1.2',
        lng: '2.0',
        dob: "2021-12-07T16:18:42.373Z",
        createdDate: "string",
        businessLicense: "avc",
      },
      confirmPassword: '',
      rulePassword: [
        (v) => !!v || 'Vui lòng điền mật khẩu',
        (v) => v.length <= 50 || 'Mật khẩu tối đa 50 ký tự',
        (v) => v.length >= 6 || 'Mật khẩu tối thiểu 6 ký tự',
      ],
      ruleName: [
        (v) => !!v || 'Vui lòng điền họ tên',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        v => !/(?=.*?[#?!@$%^&*-=+{}'"|`~])/.test(v) || 'Tên chủ quán không có ký tự đặc biệt và số'
      ],
      ruleCyberName: [
        (v) => !!v || 'Vui lòng điền tên quán game',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      rulePhone: [
        (v) => !!v || 'Vui lòng điền số điện thoại',
        (v) => v.length === 10 || 'Chưa đúng định dạng số điện thoại',
      ],
      ruleAddress: [
        (v) => !!v || 'Vui lòng điền địa chỉ quán',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      ruleConfirmPassword: [
        (v) => !!v || 'Vui lòng xác nhận mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) =>
          this.dataRegister.password === this.confirmPassword ||
          'Mật khẩu chưa khớp'
      ],
      ruleEmail: [
        (v) => !!v || 'Vui lòng điền email',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        // eslint-disable-next-line no-useless-escape
        v => /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(v) || 'Chưa đúng định dạng Email',
        v => !/(?=.*?[#?!$%^&*=+{}'"|`~])/.test(v) || 'Chưa đúng định dạng Email'
      ],
      dialog: false,
      dialogSuccess: false,
      step: 1,
      acceptType: 'image/png, image/jpeg, image/gif',
      isLoadingUpload: false,
      previewImg: 'https://cdn.vuetifyjs.com/images/parallax/material2.jpg',
      isLoadingCreate: false
    }
  },
  methods: {
    doneStep1() {
      if (this.$refs.formRegister.validate()) {
        this.step = 2
      }
    },
    async register () {
      try {
        if (this.$refs.formStep2.validate()) {
          this.isLoadingCreate = true
          await this.$api.adminCyber.registerCyber(this.dataRegister)
          this.dialogSuccess = true
          this.isLoadingCreate = false
        }
      } catch (error) {
        this.isLoadingCreate = false
        this.dialog = true
      }

    },
    redirectLogin () {
      this.$router.push('/')
    },
    async selectFile(e) {
      if(!this.isLoadingUpload) {
        try {
          this.isLoadingUpload = true
          const data1 = await this.$pinFileToIPFS(e.target.files[0]) // https://defiforyou.mypinata.cloud/ipfs/
          this.previewImg = URL.createObjectURL(e.target.files[0])
          this.dataRegister.businessLicense = data1.data.IpfsHash
          this.isLoadingUpload = false   
          console.log(this.dataRegister, 111);       
        } catch (error) {
          // this.$router.push('/login');
          console.log(error);
        }
      }
    },
  }
}
</script>
<style lang="scss" scoped>
.register {
  height: 100%;
  display: flex;
  align-items: center;
  .contain {
    background: #fff;
    width: 50%;
    margin: auto;
  }
}
.dialog-message {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
.dialog-error {
  background: rgb(61, 65, 75);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
.step-name {
  text-align: center;
  font-size: 30px;
}
.stepper {
  display: flex;
  justify-content: space-between;
}
.contain-image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  .map {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
}
.contain-doc {
  position: relative;
  .doc {
    max-width: 100%;
    max-height: 100%;
  }
}
.txt-alert-success {
  color: #00CD15;
  font-size: 54px;
  font-weight: 500;
}
.contact {
  width: 90%;
  font-size: 30px;
  background: rgba(196, 196, 196, 0.38);
}
.back-step {
  cursor: pointer;
  font-weight: 600;
}
.input-upload {
  display: none;
}
</style>