<template>
  <div class="">
    <v-app-bar fixed app color="#10375C">
      <v-container>
        <v-col>
          <v-row>
            <img :src="require(`~/assets/img/logo-admin.png`)" class="mr-16" />
            <div class="menu-header ml-16">
              <v-row align="center">
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  @click="$router.push('/')"
                  ><span>Trang chủ</span></v-col
                >
                <v-col
                  style="cursor: pointer"
                  class="text-center active-menu"
                  @click="$router.push('/cyber-list?pageIndex=0&pageSize=9&searchContent=')"
                  >Quán game</v-col
                >
                <v-col 
                  style="cursor: pointer" 
                  class="text-center"
                  @click="$router.push('/about-us')"
                >
                  Về chúng tôi
                </v-col>
              </v-row>
            </div>
            <client-only>
              <div v-if="userInfo">
                <v-menu bottom min-width="200px" rounded offset-y>
                  <template #activator="{ on }">
                    <v-btn icon x-large v-on="on">
                      <v-avatar size="40">
                        <img v-lazy="$getIpfs(userInfo.image)" />
                      </v-avatar>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-list-item-content class="justify-center">
                      <div class="mx-auto text-center">
                        <v-avatar size="40">
                          <img v-lazy="$getIpfs(userInfo.image)" />
                        </v-avatar>
                        <h3>{{ userInfo.fullname }}</h3>
                        <p class="text-caption mt-1">
                          {{ userInfo.email }}
                        </p>
                        <v-divider class="my-3"></v-divider>
                        <v-btn depressed rounded text @click="$router.push('/profile')"> Hồ sơ </v-btn>
                        <v-divider class="my-3"></v-divider>
                        <v-btn depressed rounded text @click="$auth.logout()">
                          Đăng xuất
                        </v-btn>
                      </div>
                    </v-list-item-content>
                  </v-card>
                </v-menu>
              </div>
              <v-btn v-else dark class="mt-2" color="#FF5722" @click="$router.push('/login')">Đăng nhập</v-btn>
            </client-only>
          </v-row>
        </v-col>
      </v-container>
    </v-app-bar>
    <v-container>
      <v-row class="mt-4" align="baseline">
        <v-col>
          <span class="title-suggest">Danh Sách Cyber</span>
        </v-col>
        <v-col class="view-all text-right">
          <v-text-field
            v-model="searchContent"
            outlined
            dense
            label="Tìm kiếm Cyber"
            append-icon="mdi-magnify"
            @input="searchList"
          ></v-text-field>
        </v-col>
      </v-row>
      <div v-for="(item, i) in listCybers" :key="i" class="cyber-item my-4">
        <img v-lazy="$getIpfs(item.image)" class="img-cyber" />
        <div class="contain-right px-12">
          <div class="cyber-item-info">
            <span class="cyber-name">{{item.cyberName}}</span>
            <v-chip color="primary" pill>
              <span class="ml-1">{{item.ratingPoint}}</span>
              <v-icon class="mr-1" right> mdi-star </v-icon>
            </v-chip>
          </div>
          <div>
            <p>
              <v-icon class="mr-1" right> mdi-home </v-icon>
              <span class="cyber-info-detail">{{item.address}}</span>
            </p>
            <p>
              <v-icon class="mr-1" right> mdi-phone </v-icon>
              <span class="cyber-info-detail">{{item.phoneNumber}}</span>
            </p>
            <p>
              <v-icon class="mr-1" right> mdi-monitor-cellphone </v-icon>
              <span class="cyber-info-detail">{{item.slotReady}} chỗ trống</span>
            </p>
          </div>
          <div class="detail-booking">
            <span class="price"></span>
            <div>
              <v-btn dark class="btn-booking" @click="$router.push(`/cyber-detail?id=${item.cyberId}`)">CHI TIẾT</v-btn>
            </div>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>
import _ from 'lodash'
export default {
  layout: 'new-layout',
  middleware: ['user'],
  async asyncData({ store, query, redirect }) {
    let listCybers
    try {
      const { data } = await store.$api.search.searchCyberByName(query.pageIndex, query.pageSize, query.searchContent)  
      listCybers = data.data
    } catch (error) {      
      redirect('/');
    }
    return {
      listCybers,
    }
  },
  data () {
    return {
      pageIndex: 0,
      pageSize: 12,
      searchContent: _.get(this.$route.query, 'searchContent', ''),
      userInfo: this.$auth.user
    }
  },
  watch: {
    searchContent (newVal) {
      this.$router.push({
        query: _.assign({}, this.$route.query, { searchContent: newVal })
      })
    }
  },
  watchQuery: true,
  created() {
    const self = this;
    self.$nextTick(function() {
        self.loaded = true;
    })
  },
  methods: {
    searchList(_value) {
      this.searchContent = _value.trim()
    }
  }
}
</script>
<style lang="scss" scoped>
.img-banner {
  width: 100%;
}
.title-suggest {
  font-size: 30px;
}
.view-all {
  color: #ff5722;
  font-size: 20px;
}
.cyber-item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);

  .contain-right {
    width: 100%;
    .cyber-item-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .cyber-name {
        color: #33344f;
        font-size: 24px;
        font-weight: 500;
      }
      .cyber-info-detail {
        color: #777;
        font-weight: 500;
      }
    }
    .detail-booking {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      .price {
        color: #191d23;
        font-size: 20px;
      }
      .btn-booking {
        background: #ff5722;
      }
    }
  }
}
.img-cyber{
  min-width: 384px;
  max-width: 384px;
  height: 268px;
}
.menu-header {
  margin: auto;
  width: 400px;
  font-weight: 500;
  color: #fff !important;
}

.active-menu {
  color: #ff5722;
  border-bottom: 2px solid;
  padding: 6px 0;
}
.send-field {
  opacity: 20%;
}
.large-text {
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 3px;
  font-size: 25px;
}
</style>
