<template>
  <v-dialog
    v-model="isShowPopup"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="closeDialog"> Back </v-btn>
        <div style="width: 100%; text-align: center">Phòng 1</div>
      </v-toolbar>
      <div class="body-contain">
        <v-tabs
          v-model="tab"
          background-color="transparent"
          grow
          class="mb-8"
          style="width: 60%; margin: auto"
        >
          <v-tab v-for="item in items" :key="item">
            {{ item }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item>
            <div class="px-10 pt-1">
              <v-row>
                <v-col>
                  <div
                    class="tab1-left pa-6"
                    style="border: 1px solid #e6e4eb; border-radius: 4px"
                  >
                    <v-row class="mb-4">
                      <v-col>Thông Tin Cơ Bản</v-col>
                      <v-col style="text-align: right">
                        <v-btn color="primary">Lưu</v-btn>
                      </v-col>
                    </v-row>
                    <v-row class="my-0">
                      <v-col class="py-0">
                        <v-text-field
                          label="Tên Phòng"
                          outlined
                          dense
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row class="my-0">
                      <v-col class="py-0">
                        <v-text-field
                          label="Số Lượng Máy"
                          outlined
                          dense
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row class="my-0">
                      <v-col class="py-0">
                        <v-text-field
                          label="Giá Tiền / Thời Gian"
                          outlined
                          dense
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row class="my-0">
                      <v-col class="py-0">
                        <v-text-field
                          label="Vị Trí"
                          outlined
                          dense
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </div>

                  <div
                    class="tab1-left pa-6 my-11"
                    style="border: 1px solid #e6e4eb; border-radius: 4px"
                  >
                    <v-row>
                      <v-col>Ảnh</v-col>
                      <v-col style="text-align: right">
                        <v-btn color="primary">Lưu</v-btn>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-divider></v-divider>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <div>
                          <span>Ảnh đại diện tĩnh trên thẻ</span><br />
                          <span class="txt-size-img"
                            >Kích thước khuyên dùng: 800x450px (Tỉ lệ
                            16:9)</span
                          >
                        </div>
                      </v-col>
                      <v-col>
                        <img
                          src="~/assets/img/upload-img.png"
                          class=""
                          alt="Vuetify.js"
                        />
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
                <v-col>
                  <div
                    class="tab1-right pa-6"
                    style="border: 1px solid #e6e4eb; border-radius: 4px"
                  >
                    <div class="mb-7">Sơ Đồ Phòng</div>
                    <div class="computer-contain">
                      <div
                        v-for="(item, index) in 24"
                        :key="index"
                        class="computer-number mb-16"
                      >
                        <img
                          src="~/assets/img/computer.png"
                          class="mx-3"
                          alt="Vuetify.js"
                        />
                        <v-menu :offset-x="true">
                          <template #activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on"> ... </span>
                          </template>

                          <v-list class="com-popup">
                            <v-list-item>
                              <div class="item-popup">
                                <v-icon style="font-size: 16px"
                                  >mdi-information</v-icon
                                >
                                Đang hoạt động
                              </div>
                            </v-list-item>
                            <v-list-item>
                              <div class="item-popup">
                                <v-icon style="font-size: 16px"
                                  >mdi-memory</v-icon
                                >
                                Cấu Hình 1
                                <v-icon style="font-size: 16px"
                                  >mdi-chevron-down</v-icon
                                >
                              </div>
                            </v-list-item>
                          </v-list>
                        </v-menu>
                      </div>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </div>
          </v-tab-item>
          <v-tab-item>
            <div class="px-10 py-3">
              <v-row class="form-input mb-4" align="baseline">
                <v-col cols="1">
                  <div class="text-left font-weight-medium ml-3">Thông Tin</div>
                </v-col>
                <v-col>
                  <div>
                    <v-row>
                      <v-col>
                        <v-text-field
                          label="Hàng Ngang"
                          outlined
                          dense
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col>
                        <v-text-field
                          label="Hàng Dọc"
                          outlined
                          dense
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col>
                        <v-text-field
                          label="Cấu Hình Mặc Định"
                          outlined
                          dense
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
                <v-col cols="1">
                  <div class="text-right mr-3">
                    <v-btn color="primary">Tạo</v-btn>
                  </div>
                </v-col>
              </v-row>

              <v-row class="map-room py-6">
                <v-col cols="3">
                  <div class="text-left font-weight-medium ml-3">
                    Sơ Đồ Phòng
                  </div>
                </v-col>
                <v-col>
                  <div class="computer-contain">
                    <div
                      v-for="(item, index) in 44"
                      :key="index"
                      class="computer-number mb-16"
                    >
                      <img
                        src="~/assets/img/computer.png"
                        class="mx-3"
                        alt="Vuetify.js"
                      />
                      <v-menu :offset-x="true">
                        <template #activator="{ on, attrs }">
                          <span v-bind="attrs" v-on="on"> ... </span>
                        </template>

                        <v-list class="com-popup">
                          <v-list-item>
                            <div class="item-popup">
                              <v-icon style="font-size: 16px"
                                >mdi-information</v-icon
                              >
                              Máy số 1
                              <v-icon class="icon-right"
                                >mdi-pencil-outline</v-icon
                              >
                            </div>
                          </v-list-item>
                          <v-list-item>
                            <div class="item-popup">
                              <v-icon style="font-size: 16px"
                                >mdi-memory</v-icon
                              >
                              Cấu Hình 1
                              <v-icon style="font-size: 16px"
                                >mdi-chevron-down</v-icon
                              >
                            </div>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </div>
                  </div>
                </v-col>
                <v-col cols="3">
                  <div class="text-right mr-3">
                    <v-btn color="primary">Lưu</v-btn>
                  </div>
                </v-col>
              </v-row>
            </div>
          </v-tab-item>
        </v-tabs-items>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'DialogRoom',
  components: {},
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      tab: null,
      items: ['Thông Tin', 'Cài Đặt Sơ Đồ'],
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    }
  },
  computed: {
    isShowPopup: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
  },
  methods: {
    closeDialog() {
      this.$emit('input', false)
    },
  },
}
</script>

<style lang="scss" scoped>
.tab1-right {
  .computer-contain {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    .computer-number {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.com-popup {
  box-shadow: 0 0 8px rgba(135, 135, 135, 0.22);
  border-radius: 5px;
  .item-popup {
    font-size: 14px;
  }
}
.txt-size-img {
  font-size: 14px;
  color: #797979;
}
.form-input {
  padding-top: 26px;
  border: 1px solid #e6e4eb;
  border-radius: 4px;
}
.map-room {
  border: 1px solid #e6e4eb;
  border-radius: 4px;
  .computer-contain {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    .computer-number {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.icon-right {
  font-size: 16px;
  position: absolute;
  right: 16px;
}
</style>