<template>
  <div class="px-10 py-3">
    <v-row class="form-input mb-4" align="baseline">
      <v-col cols="1">
        <div class="text-left font-weight-medium ml-3">Thông Tin</div>
      </v-col>
      <v-col>
        <div>
          <v-row>
            <v-col>
              <v-text-field
                label="Hàng Ngang"
                outlined
                dense
                required
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="Hàng Dọc"
                outlined
                dense
                required
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="Cấu Hình Mặc Định"
                outlined
                dense
                required
              ></v-text-field>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="1">
        <div class="text-right mr-3">
          <v-btn color="primary" >Tạo</v-btn>
        </div>
      </v-col>
    </v-row>

    <v-row class="map-room py-6">
      <v-col cols="3">
        <div class="text-left font-weight-medium ml-3">Sơ Đồ Phòng</div>
      </v-col>
      <v-col>
        <div class="computer-contain">
            <div
              v-for="(item, index) in 44"
              :key="index"
              class="computer-number mb-16"
            >
              <img
                src="~/assets/img/computer.png"
                class="mx-3"
                alt="Vuetify.js"
              />
              <v-menu :offset-x="true">
                <template #activator="{ on, attrs }">
                  <span v-bind="attrs" v-on="on"> ... </span>
                </template>

                <v-list class="com-popup">
                  <v-list-item>
                    <div class="item-popup">
                      <v-icon style="font-size: 16px">mdi-information</v-icon>
                      Máy số 1
                      <v-icon class="icon-right">mdi-pencil-outline</v-icon>
                    </div>
                  </v-list-item>
                  <v-list-item>
                    <div class="item-popup">
                      <v-icon style="font-size: 16px">mdi-memory</v-icon>
                      Cấu Hình 1
                      <v-icon style="font-size: 16px">mdi-chevron-down</v-icon>
                    </div>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </div>
      </v-col>
      <v-col cols="3">
        <div class="text-right mr-3">
          <v-btn color="primary" >Lưu</v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<style lang="scss" scoped>
.form-input {
  padding-top: 26px;
  border: 1px solid #E6E4EB;
  border-radius: 4px;
}
.map-room {
  border: 1px solid #E6E4EB;
  border-radius: 4px;
  .computer-contain {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    .computer-number {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.icon-right {
  font-size: 16px;
  position: absolute;
  right: 16px;
}
</style>