<template>
  <v-expand-transition>
    <v-card
      v-if="isShowPopup"
      class="transition-fast-in-fast-out v-card--reveal"
      style="z-index: 999"
    >
      <v-card-text class="pb-0">
        <p class="txt-header">
          <v-icon class="icon mr-11" @click="closeDialog"
            >mdi-arrow-left</v-icon
          >
          Người dùng A
        </p>
      </v-card-text>
      <div class="info-detail my-7">
        <v-container
          class="pa-7"
          :class="isEdit ? 'pb-0' : ''"
          style="height: 100%"
        >
          <v-row v-if="!isEdit" style="margin: auto">
            <v-col class="info-left">
              <div>
                <span class="font-weight-bold">Họ tên:</span> Người Dùng A
              </div>
              <div>
                <span class="font-weight-bold">Email ID:</span>
                123123123@gmail.com
              </div>
              <div>
                <span class="font-weight-bold">Mật khẩu:</span> *************
              </div>
            </v-col>
            <v-col class="info-right">
              <div>
                <span class="font-weight-bold">Tài khoản tại quán:</span> User
                of cyber
              </div>
              <div>
                <span class="font-weight-bold">Điện thoại:</span> 0912345678
              </div>
              <div>
                <span class="font-weight-bold">Ngày tạo:</span> 07:00 -
                01/10/2021
              </div>
            </v-col>
            <v-col cols="2" class="text-center">
              <img
                src="~/assets/img/user-avatar.png"
                class=""
                style="width: 128px"
                alt="Vuetify.js"
              />
            </v-col>
            <v-col cols="2" class="btn-edit">
              <v-btn color="primary" @click="isEdit = true">
                <v-icon class="mr-3" style="font-size: 14px"
                  >mdi-lead-pencil</v-icon
                >
                Chỉnh Sửa
              </v-btn>
            </v-col>
          </v-row>
          <v-row v-else class="form-edit">
            <v-col class="info-left">
              <div>
                <v-text-field
                  label="Họ tên"
                  outlined
                  dense
                  required
                ></v-text-field>
              </div>
              <div>
                <v-text-field
                  label="Email ID"
                  outlined
                  dense
                  required
                ></v-text-field>
              </div>
              <div>
                <v-text-field
                  label="Mật khẩu"
                  outlined
                  dense
                  required
                ></v-text-field>
              </div>
            </v-col>
            <v-col class="info-right">
              <div>
                <v-text-field
                  label="Tài khoản tại quán"
                  outlined
                  dense
                  required
                ></v-text-field>
              </div>
              <div>
                <v-text-field
                  label="Điện thoại"
                  outlined
                  dense
                  required
                ></v-text-field>
              </div>
              <div>
                <v-text-field
                  label="Xác nhận mật khẩu"
                  outlined
                  dense
                  required
                ></v-text-field>
              </div>
            </v-col>
            <v-col cols="2" class="img-avatar text-center">
              <img
                src="~/assets/img/user-avatar.png"
                class=""
                style="width: 128px"
                alt="Vuetify.js"
              />
            </v-col>
            <v-col cols="2" class="btn-edit">
              <v-btn color="primary" @click="isEdit = false">
                <v-icon class="mr-3" style="font-size: 14px"
                  >mdi-lead-pencil</v-icon
                >
                Lưu
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </div>
      <div class="history-booking">
        <div class="txt-title">Lịch sử đặt chỗ</div>
        <div class="contain">
          <v-row class="table-header my-5">
            <v-col>Phòng</v-col>
            <v-col>Số Máy</v-col>
            <v-col>Thời Gian</v-col>
            <v-col>Điện Thoại</v-col>
            <v-col>Trạng Thái</v-col>
            <v-col>Đánh Giá</v-col>
            <v-col cols="1" class="text-center">Thao Tác</v-col>
          </v-row>
          <v-row v-for="i in 6" :key="i" class="table-row mb-5">
            <v-col>Phòng 1</v-col>
            <v-col>1, 2, 3</v-col>
            <v-col>01/10/2021, 20:00</v-col>
            <v-col>0912345678</v-col>
            <v-col>
              <v-btn color="#00CD15" dark> Chấp thuận </v-btn>
            </v-col>
            <v-col>
              <v-rating
                v-model="rating"
                background-color="yellow"
                color="yellow accent-4"
                dense
                half-increments
                hover
                size="20"
              ></v-rating>
            </v-col>
            <v-col cols="1" class="text-center">
              <v-menu bottom left>
                <template #activator="{ on, attrs }">
                  <span v-bind="attrs" v-on="on">
                    <v-icon>mdi-lead-pencil</v-icon>
                  </span>
                </template>

                <v-list class="com-popup">
                  <v-list-item>
                    <div class="item-popup" @click="reveal = true">
                      <v-icon>mdi-pencil-outline</v-icon>
                      Sửa Đánh Giá
                    </div>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-card>
  </v-expand-transition>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isEdit: false,
      rating: 4,
    }
  },
  computed: {
    isShowPopup: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
  },
  methods: {
    closeDialog() {
      this.$emit('input', false)
    },
  },
}
</script>
<style lang="scss" scoped>
.txt-header {
  font-weight: bold;
  font-size: 32px;
  color: #797979;
  display: flex;
  align-items: center;
  .icon {
    font-size: 38px;
    cursor: pointer;
  }
}
.info-detail {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 95%;
  margin: auto;
  .info-left,
  .info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img-avatar {
    margin: auto;
    padding-bottom: 38px;
  }
  .btn-edit {
    text-align: right;
    margin: auto;
    padding-bottom: 38px;
  }
  .form-edit {
    margin: auto;
    margin-bottom: 2px;
  }
}
.history-booking {
  width: 95%;
  margin: auto;
  .txt-title {
    font-size: 26px;
    font-weight: 500;
  }
  .table-header {
    margin: auto;
    background: #255cc2;
    color: #fff;
    border-radius: 10px;
  }
  .table-row {
    margin: auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}
</style>