<template>
  <v-card class="room-container">
    <div class="pa-8">
      <div :key="componentKeyReset" class="contain">
        <v-row class="filter-list mb-5" align="center">
          <v-col>
            <div class="txt-user-manager">Quản lý quán game</div>
          </v-col>
          <v-col cols="4" class="mt-7">
            <v-row>
              <v-col>
                <v-select 
                  :items="items"
                  item-text="key"
                  item-value="value"
                  outlined 
                  dense
                  label="Trạng thái"
                  @change="changeStatus"
                >
                </v-select>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="4" class="mt-7">
            <v-row>
              <v-col>
                <v-text-field
                  label="Tìm theo tên Cyber"
                  single-line
                  dense
                  outlined
                  @input="searchList"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="table-header my-5">
          <v-col>Tên quán</v-col>
          <v-col>Chủ quán</v-col>
          <v-col>Số Điện Thoại</v-col>
          <v-col>Đánh giá</v-col>
          <v-col cols="2" class="text-center">Thao Tác</v-col>
        </v-row>
        <v-row
          v-for="(item) in listCyber.data"
          :key="item.cyberId"
          class="table-row mb-5"
          @click="openDetail(item)"
        >
          <v-col>{{ item.cyberName }}</v-col>
          <v-col>{{ item.bossCyberName }}</v-col>
          <v-col>{{ item.phoneNumber }}</v-col>
          <v-col>
            <v-rating
              :value="item.ratingPoint"
              background-color="yellow"
              color="yellow accent-4"
              dense
              half-increments
              readonly
              size="20"
            ></v-rating>
          </v-col>
          <v-col cols="2" class="text-center">
            <v-menu offset-y>
              <template #activator="{ on, attrs }">
                  <v-chip v-if="item.status === CYBER_STATUS.PENDING" outlined class="user-status" v-bind="attrs" width="151" color="#fb8c00" v-on="on">Chờ duyệt</v-chip>
                  <v-chip v-if="item.status === CYBER_STATUS.ACTIVE" outlined class="user-status" v-bind="attrs" width="151" color="#00CD15" v-on="on">Đang hoạt động</v-chip>
                  <v-chip v-if="item.status === CYBER_STATUS.DEACTIVATE" outlined class="user-status" v-bind="attrs" width="151" color="#ff5252" v-on="on">Dừng hoạt động</v-chip>
                  <v-chip v-if="item.status === CYBER_STATUS.REJECT" outlined class="user-status" v-bind="attrs" width="151" color="red" v-on="on">Bị từ chối</v-chip>
              </template>

              <v-list class="com-popup">
                <v-list-item v-if="item.status === CYBER_STATUS.PENDING" @click="approveCyber(item.cyberId)">
                  <div class="item-popup">
                    <span>Chấp thuận</span>
                  </div>
                </v-list-item>
                <v-list-item v-if="item.status === CYBER_STATUS.PENDING" @click="rejectCyber(item.cyberId)">
                  <div class="item-popup">
                    <span>Từ chối</span>
                  </div>
                </v-list-item>
                <v-list-item v-if="item.status === CYBER_STATUS.ACTIVE" @click="lockCyber(item.cyberId)">
                  <div class="item-popup">
                    <span>Dừng hoạt động</span>
                  </div>
                </v-list-item>
                <v-list-item v-if="item.status === CYBER_STATUS.DEACTIVATE" @click="approveCyber(item.cyberId)">
                  <div class="item-popup">
                    <span>Hoạt động</span>
                  </div>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>
        </v-row>
        <div>
          <v-pagination
            v-if="listCyber.totalPage > 1"
            v-model="pageIndex"
            class="my-12"
            :length="listCyber.totalPage"
            @input="onChangePage"
          />
        </div>
      </div>
    </div>
    <v-dialog
      v-model="dialogDetail"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar
          dark
          color="primary"
        >
          <v-btn
            icon
            dark
            @click="dialogDetail = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Thông tin quán game chi tiết</v-toolbar-title>
        </v-toolbar>
        <v-container>
          <v-row>
            <v-col class="pt-15" cols="4">
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Tên quán:</v-list-item-title>
                  <span class="info-detail-style">{{cyberDetail.cyberName}}</span>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Chủ quán:</v-list-item-title>
                  <span class="info-detail-style">{{cyberDetail.bossCyberName}}</span>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Email:</v-list-item-title>
                  <span class="info-detail-style">{{cyberDetail.email}}</span>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Địa chỉ:</v-list-item-title>
                  <span class="info-detail-style">{{cyberDetail.address}}</span>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Số điện thoại:</v-list-item-title>
                  <span class="info-detail-style">{{cyberDetail.phoneNumber}}</span>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Ngày tạo:</v-list-item-title>
                  <span class="info-detail-style">{{cyberDetail.createdDate}}</span>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Mô tả:</v-list-item-title>
                  <span class="info-detail-style">{{cyberDetail.cyberDescription}}</span>
                </v-list-item-content>
              </v-list-item>
            </v-col>
            <v-col cols="8">
              <v-tabs v-model="tab" class="mb-4">
                <v-tab>Hình ảnh</v-tab>
                <v-tab>Giấy phép</v-tab>
              </v-tabs>
              <v-tabs-items v-model="tab">
                <v-tab-item>
                  <div class="img-contain">
                    <img v-if="cyberDetail.image" v-lazy="$getIpfs(cyberDetail.image)" class="img-cyber" />
                  </div>
                </v-tab-item>
                <v-tab-item>
                  <div class="img-contain">
                    <img v-if="cyberDetail.businessLicense" v-lazy="$getIpfs(cyberDetail.businessLicense)" class="img-cyber" />
                  </div>
                </v-tab-item>
              </v-tabs-items>
            </v-col>
          </v-row>
        </v-container>        
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import _ from 'lodash'
import { CYBER_STATUS } from '~/enums/roleUser'
export default {
  async asyncData({ store, query, redirect }) {
    let listCyber
    try {
      const { data } = await store.$api.adminCyber.getListCyberByStatusId(query.pageIndex, query.pageSize, query.statusCyberId, query.cyberName)      
      listCyber = data
    } catch (error) {
      redirect('/login');      
    }
    return {
      listCyber,
    }
  },
  data() {
    return {
      componentKeyReset: 0,
      CYBER_STATUS,
      items: [
        {
          key: 'Tất cả',
          value: -1
        },
        {
          key: 'Đang chờ',
          value: CYBER_STATUS.PENDING
        },
        {
          key: 'Hoạt động',
          value: CYBER_STATUS.ACTIVE
        },
        {
          key: 'Dừng hoạt động',
          value: CYBER_STATUS.DEACTIVATE
        }
      ],
      search: _.get(this.$route.query, 'cyberName', ''),
      dialogDetail: false,
      cyberDetail: {
        cyberName: '',
        bossCyberName: '',
        email: '',
        address: '',
        phoneNumber: '',
        createdDate: '',
        cyberDescription: '',
        image: '',
        businessLicense: '',
      },
      tab: 0,
      pageIndex: parseInt(_.get(this.$route.query, 'pageIndex', 0)),
    }
  },
  watch: {
    search (newVal) {
      this.$router.push({
        query: _.assign({}, this.$route.query, { cyberName: newVal, pageIndex: 1})
      })
    },
  },
  watchQuery: true,
  methods: {
    forceRerender() {
      this.componentKeyReset += 1
    },
    async approveCyber(id) {
      try {
        await this.$api.adminCyber.verifyCyber(id)
        const { data } = await this.$api.adminCyber.getListCyberByStatusId(this.$route.query.pageIndex, this.$route.query.pageSize, this.$route.query.statusCyberId, this.$route.query.cyberName)
        this.listCyber = data
        this.forceRerender()
      } catch (error) {
        console.log(error);
      }
    },
    async rejectCyber(id) {
      try {
        await this.$api.adminCyber.rejectCyber(id)
        const { data } = await this.$api.adminCyber.getListCyberByStatusId(this.$route.query.pageIndex, this.$route.query.pageSize, this.$route.query.statusCyberId, this.$route.query.cyberName)
        this.listCyber = data
        this.forceRerender()
      } catch (error) {
        console.log(error);
      }
    },
    async lockCyber(id) {
      try {
        await this.$api.adminCyber.lockCyber(id)
        const { data } = await this.$api.adminCyber.getListCyberByStatusId(this.$route.query.pageIndex, this.$route.query.pageSize, this.$route.query.statusCyberId, this.$route.query.cyberName)
        this.listCyber = data
        this.forceRerender()
      } catch (error) {
        console.log(error);
      }
    },
    changeStatus (status) {
      if (status === -1) {
        this.$router.push({
          query: _.assign({}, this.$route.query, { statusCyberId: '', pageIndex: 1 })
        })
      } else {
        this.$router.push({
          query: _.assign({}, this.$route.query, { statusCyberId: status, pageIndex: 1 })
        })
      }
    },
    searchList (_value) {
      this.search = _value.trim()
    },
    openDetail (cyberDetail) {
      this.dialogDetail = true
      this.cyberDetail = cyberDetail
      this.tab = 0
    },
    onChangePage () {
      this.$router.push({
        query: _.assign({}, this.$route.query, { pageIndex: this.pageIndex })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.txt-header {
  font-weight: bold;
  font-size: 32px;
  color: #797979;
  display: flex;
  align-items: center;
  .icon {
    font-size: 38px;
    cursor: pointer;
  }
}
.info-detail {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 95%;
  margin: auto;
  .info-left,
  .info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img-avatar {
    margin: auto;
    padding-bottom: 38px;
  }
  .btn-edit {
    text-align: right;
    margin: auto;
    padding-bottom: 38px;
  }
  .form-edit {
    margin: auto;
    margin-bottom: 2px;
  }
}
.history-booking {
  width: 95%;
  margin: auto;
  .txt-title {
    font-size: 26px;
    font-weight: 500;
  }
  .table-header {
    margin: auto;
    background: #255cc2;
    color: #fff;
    border-radius: 10px;
  }
  .table-row {
    margin: auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}
.room-container {
  background: #f4f4f4;
  height: 100%;
  .contain {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 32px;
    .filter-list {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      .txt-user-manager {
        font-weight: bold;
        font-size: 30px;
        color: #797979;
      }
    }
    .txt-filter {
      font-size: 18px;
      color: #535353;
    }
    .table-header {
      background: #255cc2;
      color: #fff;
      border-radius: 10px;
    }
    .table-row {
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
  }
}
.v-card--reveal {
  opacity: 1 !important;
  position: absolute;
  top: 32px;
  right: 0;
  width: 100%;
}
.user-status {
  width: 126px;
  justify-content: center;
}
.img-contain {
  display: flex;
  justify-content: center;
  height: 100%;
  .img-cyber {
    max-width: 100%;
    max-height: 100%;
  }
}
.info-detail-style {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
</style>
