// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import '~assets/fonts.scss';

// Globals
$body-font-family: roboto;
$expansion-panel-header-padding: 0;
$expansion-panel-content-padding: 0;
$btn-text-transform: none