<template>
  <v-container>
    <v-alert v-model="showAlert" text :type="typeAlert" class="alert-mes">
      {{alertMes}}
    </v-alert>
    <v-card-text class="pb-0">
      <p class="txt-header">
        Hồ sơ
      </p>
    </v-card-text>
    <v-app-bar fixed app color="#10375C">
      <v-container :key="componentKeyResetAvatar">
        <v-col>
          <v-row>
            <img :src="require(`~/assets/img/logo-admin.png`)" class="mr-16" />
            <div class="menu-header ml-16">
              <v-row align="center">
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  @click="$router.push('/')"
                  ><span>Trang chủ</span></v-col
                >
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  @click="$router.push('/cyber-list?pageIndex=0&pageSize=9&searchContent=')"
                  >Quán game</v-col
                >
                <v-col 
                  style="cursor: pointer" 
                  class="text-center"
                  @click="$router.push('/about-us')"
                >
                  Về chúng tôi
                </v-col>
              </v-row>
            </div>
            <div v-if="userInfo">
              <v-menu  bottom min-width="200px" rounded offset-y>
                <template #activator="{ on }">
                  <v-btn icon x-large v-on="on">
                    <v-avatar size="40">
                      <img v-lazy="$getIpfs(userInfo.image)" />
                    </v-avatar>
                  </v-btn>
                </template>
                <v-card>
                  <v-list-item-content class="justify-center">
                    <div class="mx-auto text-center">
                      <v-avatar size="40">
                        <img v-lazy="$getIpfs(userInfo.image)" />
                      </v-avatar>
                      <h3>{{ userInfo.fullname }}</h3>
                      <p class="text-caption mt-1">
                        {{ userInfo.email }}
                      </p>
                      <v-divider class="my-3"></v-divider>
                      <v-btn depressed rounded text @click="$router.push('/profile')"> Hồ sơ </v-btn>
                      <v-divider class="my-3"></v-divider>
                      <v-btn depressed rounded text @click="$auth.logout()">
                        Đăng xuất
                      </v-btn>
                    </div>
                  </v-list-item-content>
                </v-card>
              </v-menu>
            </div>
            <v-btn v-else dark class="mt-2" color="#FF5722" @click="$router.push('/login')">Đăng nhập</v-btn>
          </v-row>
        </v-col>
      </v-container>
    </v-app-bar>
    <div :key="componentKeyResetInfo" class="info-detail my-5">
      <v-container
        class="pa-7"
        :class="isEdit ? 'pb-0' : ''"
        style="height: 100%"
        ><v-row v-if="!isEdit" style="margin: auto">
          <v-col class="info-left">
            <div>
              <span class="font-weight-bold">Họ tên:</span> {{profileUserPayload.fullname}}
            </div>
            <div>
              <span class="font-weight-bold">Email ID:</span>
              {{profileUserPayload.email}}
            </div>
            <div>
              <span class="font-weight-bold">Địa chỉ:</span> {{profileUserPayload.address}}
            </div>
          </v-col>
          <v-col class="info-right">
            <div>
              <span class="font-weight-bold">Điện thoại:</span> {{profileUserPayload.phoneNumber}}
            </div>
            <div>
              <span class="font-weight-bold">Ngày sinh:</span> <span v-if="profileUserPayload.dob">{{(profileUserPayload.dob).substr(0, 10)}}</span>
            </div>
          </v-col>
          <v-col cols="2" class="text-center">
            <div class="avatar-contain">
              <img
                v-lazy="$getIpfs(profileUserPayload.image)"
                class="avatar-preview"
              />                          
            </div>            
          </v-col>
          <v-col cols="2" class="btn-edit">
            <v-btn dark color="#FF5722" @click="isEdit = true">
              <v-icon class="mr-3" style="font-size: 14px"
                >mdi-lead-pencil</v-icon
              >
              Chỉnh Sửa
            </v-btn>
          </v-col>
        </v-row>
        <v-row v-else class="form-edit">
          <v-col class="info-left">
            <div>
              <v-text-field
                v-model="profileUserPayload.fullname"
                label="Họ tên"
                outlined
                dense
                required
              ></v-text-field>
            </div>
            <div>
              <v-text-field
                v-model="profileUserPayload.email"
                label="Email ID"
                outlined
                dense
                readonly
                required
              ></v-text-field>
            </div>
            <div>
              <v-text-field
                v-model="profileUserPayload.address"
                label="Địa chỉ"
                outlined
                dense
                required
              ></v-text-field>
            </div>
          </v-col>
          <v-col class="info-right">
            <div>
              <v-text-field
                v-model="profileUserPayload.phoneNumber"
                label="Điện thoại"
                outlined
                dense
                required
              ></v-text-field>
            </div>
            <div>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="dob"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    v-model="dob"
                    label="Ngày sinh"
                    readonly
                    outlined
                    dense
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="dob"
                  no-title
                  scrollable
                  :max="today"
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="menu = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu.save(dob)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </div>
          </v-col>
          <v-col cols="3" class="img-avatar text-center">
            <div class="avatar-contain">
              <img 
                v-if="isLoadingUpload"
                :src="require(`~/assets/img/giphy.gif`)"
                class="avatar-preview"
              />
              <img 
                v-else
                v-lazy="avatarPreview"
                class="avatar-preview"
              />
              <input
                id="upload-file"
                type="file"
                :accept="acceptType"
                class="input-upload"
                @change="selectFile"
              />
              <label for="upload-file">
                <v-chip
                  color="primary"
                  class="btn-upload"
                >
                  <v-icon size="20">mdi-camera</v-icon>
                </v-chip>   
              </label>
            </div> 
          </v-col>
          <v-col cols="2" class="btn-edit">
            <v-btn color="#FF5722" width="135" dark :disabled="isLoadingUpload" :loading="isLoadingApiEdit" @click="handleEditProfile">
              <v-icon class="mr-3" style="font-size: 14px">
                mdi-lead-pencil
              </v-icon>                
              Lưu
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="history-booking">
      <v-tabs v-model="tab">
        <v-tab>Lịch Sử Đặt Chỗ</v-tab>
        <v-tab>Quản Lý Tài Khoản Chơi</v-tab>
        <v-tab>Đổi mật khẩu</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-container :key="componentKeyReset" class="contain">
            <v-row class="table-header my-5">
              <v-col>Tên Quán Game</v-col>
              <v-col>Phòng</v-col>
              <v-col>Số Máy</v-col>
              <v-col>Thời Gian</v-col>
              <v-col class="text-center">Trạng Thái</v-col>
              <v-col class="text-center">Đánh Giá</v-col>
            </v-row>
            <v-row v-for="(item, i) in listBooking" :key="i" class="table-row mb-5" align="baseline">
              <v-col>{{item.cyberName}}</v-col>
              <v-col>{{item.roomName}}</v-col>
              <v-col>{{item.listSlotName}}</v-col>
              <v-col>{{item.startAt}}</v-col>
              <v-col class="text-center">
                <v-menu offset-y>
                  <template #activator="{ on, attrs }">
                    <v-btn v-if="item.statusOrder === ORDER_STATUS.APPROVE" color="success" dark v-bind="attrs" v-on="on"> Chấp thuận </v-btn>
                    <v-btn v-if="item.statusOrder === ORDER_STATUS.PENDING" color="warning" dark v-bind="attrs" v-on="on"> Đang chờ </v-btn>
                    <v-btn v-if="item.statusOrder === ORDER_STATUS.REJECT" color="error" dark v-bind="attrs" v-on="on"> Từ chối </v-btn>
                    <v-btn v-if="item.statusOrder === ORDER_STATUS.CANCEL" color="deep-orange" dark v-bind="attrs" v-on="on"> Đã huỷ </v-btn>
                  </template>
                  <v-list v-if="item.statusOrder === ORDER_STATUS.PENDING">
                    <v-list-item
                      style="cursor: pointer"
                      @click="cancelOrder(item.orderId)"
                    >
                      <span> Huỷ đơn </span>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
              <v-col class="text-center">
                <v-rating
                  v-if="item.rateCyber"
                  v-model="item.rateCyber.ratePoint"
                  background-color="yellow"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  hover
                  size="20"
                ></v-rating>
                <v-btn v-else color="error" :disabled="item.statusOrder !== ORDER_STATUS.APPROVE" @click="showPopupRate(item.cyberId, item.orderId, item.createdBy)">Đánh giá</v-btn>
              </v-col>
            </v-row>
            <v-dialog
              v-model="dialog"
              persistent
              max-width="350"
            >
              <v-card>
                <v-card-title class="text-h5">
                  Đánh giá quán game
                </v-card-title>
                <div class="text-center my-5">
                  <v-rating
                    v-model="rating"
                    background-color="yellow"
                    color="yellow accent-4"
                    dense
                    half-increments
                    hover
                    size="40"
                  ></v-rating>
                </div>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="closeRating"
                  >
                    Hủy
                  </v-btn>
                  <v-btn
                    :disabled="rating === 0"
                    color="green darken-1"
                    text
                    @click="rateUser"
                  >
                    Xác nhận
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-container>
        </v-tab-item>
        <v-tab-item>
          <v-container :key="componentKeyResetAccountCyber" class="contain">
            <div class="text-right">
              <v-btn color="pink lighten-3" dark @click="dialogSaveAccount = true">Lưu tài khoản</v-btn>
            </div>
            <v-row class="table-header my-5">
              <v-col>Tên Quán Game</v-col>
              <v-col>Tài Khoản Tại Quán</v-col>
              <v-col>Mật Khẩu</v-col>
            </v-row>

            <v-row v-for="(item, i) in listCyberAccount" :key="i" class="table-row mb-5">
              <v-col>{{item.cyberName}}</v-col>
              <v-col>{{item.username}}</v-col>
              <v-col>{{item.password}}</v-col>
            </v-row>
          </v-container>
        </v-tab-item>
        <v-tab-item>
          <div class="change-password mt-16">
            <v-form ref="formChangePassword">
              <v-text-field
                v-model="password"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="rulePassword"
                :type="show ? 'text' : 'password'"
                outlined
                required
                dense
                rounded
                label="Mật khẩu cũ"
                placeholder="Mật khẩu cũ"
                class="login-input"
                @click:append="show = !show"
              />
              <v-text-field
                v-model="newPassword"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="ruleNewPassword"
                :type="show ? 'text' : 'password'"
                outlined
                dense
                required
                rounded
                label="Mật khẩu mới"
                placeholder="Mật khẩu mới"
                class="login-input"
                @click:append="show = !show"
              />
              <v-text-field
                v-model="confirmNewPassword"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="ruleConfirmPassword"
                :type="show ? 'text' : 'password'"
                outlined
                dense
                required
                rounded
                label="Mật khẩu mới (xác nhận lại)"
                placeholder="Mật khẩu mới (xác nhận lại)"
                class="login-input"
                @click:append="show = !show"
              />
            </v-form>
            <v-btn color="#FF5722" rounded dark @click="changePassowrd">Xác nhận</v-btn>
          </div>
        </v-tab-item>
      </v-tabs-items>
    </div>
    <v-dialog
      v-model="dialogError"
      width="700"
      dark
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/Error.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4 text-center">
          {{ messageError }}
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="closePopupError">
          Ok
        </v-btn>
      </div>        
    </v-dialog>
    <v-dialog
      v-model="dialogSaveAccount"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Thêm tài khoản tại quán</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" >
                <v-select
                  v-model="accountInCyber.cyberId"
                  :items="listCyberBooked"
                  item-text="cyberName"
                  item-value="cyberId"
                  label="Quán game đã chơi"
                  :rules="ruleAccountInCyber"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="accountInCyber.username"
                  label="Tài khoản"
                  :rules="ruleUserNameInCyber"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="accountInCyber.password"
                  label="Mật khẩu"
                  :rules="rulePasswordInCyber"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialogSaveAccount = false"
          >
            Đóng
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="handleSaveAccount"
          >
            Lưu
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import { ORDER_STATUS } from '~/enums/roleUser'

export default {
  layout: 'new-layout',
  middleware: ['user'],
  async asyncData(content) {
    let profileUserPayload = {
      id: -1,
      fullname: '',
      email: '',
      address: '',
      phoneNumber: '',
      dob: null,
      image: ''
    }
    let listBooking = []
    let listCyberAccount = []
    let listCyberBooked= []
    let dob = null
    try {
      const dataInfoUser = await content.store.$api.userManager.getMyInfor()
      const { data } = await content.store.$api.bookingManage.getListBookingByUserId(0, 999)
      const dataCyberBooked = await content.store.$api.search.searchCyberByName(0, 999, '')
      const dataCyberAccount = await content.store.$api.userManager.getListCyberAccount(0, 999)
      profileUserPayload = dataInfoUser.data.data
      if(dataInfoUser.data.data.dob) {
        dob = (new Date(dataInfoUser.data.data.dob)).toISOString().substr(0, 10)
      }
      listBooking = data.data
      listCyberAccount = dataCyberAccount.data.data
      listCyberBooked = dataCyberBooked.data.data
    } catch (error) {
      content.redirect('/login');
    }
    return {
      profileUserPayload,
      avatarPreview: content.$getIpfs(profileUserPayload?.image),
      listBooking,
      listCyberAccount,
      listCyberBooked,
      dob
    }
  },
  data() {
    return {
      ORDER_STATUS,
      isEdit: false,
      tab: null,
      acceptType: 'image/png, image/jpeg, image/gif',
      isLoadingUpload: false,
      isLoadingApiEdit: false,
      componentKeyReset: 0,
      componentKeyResetInfo: 50,
      componentKeyResetAccountCyber: 100,
      componentKeyResetAvatar: 150,
      dialog: false,
      dialogError: false,
      dialogSaveAccount: false,
      rating: 0,
      dataPayloadRating: {} ,
      menu: false,
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      rulePassword: [
        (v) => !!v || 'Chưa nhập mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      show: false,
      password: '',
      newPassword: '',
      confirmNewPassword: '',
      ruleNewPassword: [
        (v) => !!v || 'Vui lòng nhập mật khẩu mới',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) => v.length >= 6 || 'Mật khẩu mới tối thiểu 6 ký tự',
        (v) =>
          this.password !== this.newPassword ||
          'Trùng với mật khẩu cũ'
      ],
      ruleConfirmPassword: [
        (v) => !!v || 'Vui lòng xác nhận mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) =>
          this.confirmNewPassword === this.newPassword ||
          'Mật khẩu chưa khớp'
      ],
      messageError: 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!',
      accountInCyber: {
        cyberId: null,
        username: null,
        password: null
      },
      ruleAccountInCyber: [
        (v) => !!v || 'Bạn chưa chọn quán game',
      ],
      ruleUserNameInCyber: [
        (v) => !!v || 'Bạn chưa nhập tài khoản',
      ],
      rulePasswordInCyber: [
        (v) => !!v || 'Bạn chưa mật khẩu',
      ],
      alertMes: '',
      typeAlert: 'success',
      showAlert: false,
      userInfo: this.$auth.user,
      today: new Date().toISOString().substr(0, 10),
    }
  },
  watch: {
    showAlert (newValue, oldValue) {
      if(newValue)
      setInterval(() => {
        this.showAlert = false
        this.alertMes = ''
      }, 5000);
    }
  },
  methods: {
    forceRerender() {
      this.componentKeyReset += 1
    },
    forceRerenderAccountCyber() {
      this.componentKeyResetAccountCyber += 1
    },
    forceRerenderEditInfo() {
      this.componentKeyResetInfo += 1
    },
    forceRerenderEditAvatar() {
      this.componentKeyResetAvatar += 1
    },
    async selectFile(e) {
      if(!this.isLoadingUpload) {
        this.isLoadingUpload = true
        const data1 = await this.$pinFileToIPFS(e.target.files[0]) // https://defiforyou.mypinata.cloud/ipfs/
        this.avatarPreview = URL.createObjectURL(e.target.files[0])
        this.profileUserPayload.image = data1.data.IpfsHash
        this.isLoadingUpload = false
      }
    },
    async handleEditProfile () {
      try {
        this.isLoadingApiEdit = true
        this.profileUserPayload.dob = this.dob
        await this.$api.userManager.editUserInfor(this.profileUserPayload)
        this.isLoadingApiEdit = false
        this.isEdit = false
        const dataInfoUser = await this.$api.userManager.getMyInfor()
        this.profileUserPayload = dataInfoUser.data.data
        await this.$auth.fetchUser()
        this.showAlert = true
        this.alertMes = 'Cập nhật thông tin thành công!'
        this.user = this.$auth.user
        this.forceRerenderEditInfo()
        this.forceRerenderEditAvatar()
      } catch (error) {
        this.isLoadingApiEdit = false
        this.dialogError = true
        console.log(error);
      }
    },
    async cancelOrder (id) {
      try {
        await this.$api.bookingManage.changeStatusOrder(id, 4)
        const { data } = await this.$api.bookingManage.getListBookingByUserId(0, 999)
        this.listBooking = data.data
        this.forceRerender()
      } catch (error) {
        console.log(error);
        this.dialogError = true
      }
    },
    showPopupRate (cyberId, orderId, userId) {
      this.dialog = true
      this.dataPayloadRating = {
        cyberId,
        ratePoint: this.rating,
        commentContent: 'string',
        usersId: userId,
        orderId
      }
    },
    async rateUser () {
      try {
        this.dataPayloadRating.ratePoint = this.rating
        await this.$api.userRateCyber.addUserRateCyber(this.dataPayloadRating)
        const { data } = await this.$api.bookingManage.getListBookingByUserId(0, 999)
        this.listBooking = data.data
        this.dialog = false
        this.rating = 0
        this.showAlert = true
        this.alertMes = 'Đánh giá thành công!'
        this.forceRerender()
      } catch (error) {
        this.dialogError = true
        console.log(error);
      }
    }, 
    async changePassowrd () {
      if (this.$refs.formChangePassword.validate()) {
        try {
          await this.$api.userManager.changePassword(this.password ,this.newPassword)
          this.showAlert = true
          this.alertMes = 'Đổi mật khẩu thành công!'
        } catch (error) {
          this.dialogError = true
          if(error.response.data.message === "Password has wrong") {
            this.messageError = 'Mật khẩu cũ không chính xác!'
          }
          console.log(error);
        }
      }
    },
    closeRating () {
      this.dialog = false
      this.rating = 0
    },
    closePopupError () {
      this.dialogError = false
      this.messageError = 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!'
    },
    async handleSaveAccount () {
      try {
        await this.$api.userManager.addNewCyberAccount(this.accountInCyber)
        const { data } = await this.$api.userManager.getListCyberAccount(0, 999)
        this.forceRerenderAccountCyber()
        this.listCyberAccount = data.data
        this.dialogSaveAccount = false
        this.accountInCyber.cyberId = null
        this.accountInCyber.username = null
        this.accountInCyber.password = null
      } catch (error) {
        this.dialogError = true
        console.log(error);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.history-booking {
  background: #fff;
  // height: 100%;
  .contain {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 32px;
  }
  .table-header {
    background: #10375c;
    color: #fff;
    border-radius: 10px;
  }
  .table-row {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  .txt-title {
    font-size: 25px;
    font-weight: 500;
  }
}
.info-detail {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 95%;
  margin: auto;
  .info-left,
  .info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img-avatar {
    margin: auto;
    padding-bottom: 38px;
  }
  .btn-edit {
    text-align: right;
    margin: auto;
    padding-bottom: 25px;
  }
  .form-edit {
    margin: auto;
    margin-bottom: 2px;
  }
}
.txt-header {
  font-weight: bold;
  font-size: 32px;
  color: #797979;
  display: flex;
  align-items: center;
  .icon {
    font-size: 38px;
    cursor: pointer;
  }
}
.avatar-contain {
  position: relative;
  width: 128px;
  height: 128px;
  margin: auto;
  .avatar-preview {
    width: inherit;
    border-radius: 50%;
    height: inherit;
  }
  .btn-upload {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
}
.input-upload {
  display: none;
}
.change-password {
  width: 600px;
  margin: auto;
  text-align: center;
}
.dialog-message {
  background: rgb(61, 65, 75);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
.alert-mes {
  position: absolute;
  right: 10px;
  top: 8px;
}
.menu-header {
  margin: auto;
  width: 400px;
  font-weight: 500;
  color: #fff !important;
}

.active-menu {
  color: #ff5722;
  border-bottom: 2px solid;
  padding: 6px 0;
}
.send-field {
  opacity: 20%;
}
.large-text {
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 3px;
  font-size: 25px;
}
</style>
