<template>
  <div>
    <v-app-bar fixed app color="#10375C">
      <v-container>
        <v-col>
          <v-row>
            <img :src="require(`~/assets/img/logo-admin.png`)" class="mr-16" />
            <div class="menu-header ml-16">
              <v-row align="center">
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  @click="$router.push('/')"
                  ><span>Trang chủ</span></v-col
                >
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  @click="
                    $router.push(
                      '/cyber-list?pageIndex=0&pageSize=9&searchContent='
                    )
                  "
                  >Quán game</v-col
                >
                <v-col
                  style="cursor: pointer"
                  class="text-center active-menu"
                  @click="$router.push('/about-us')"
                >
                  Về chúng tôi
                </v-col>
              </v-row>
            </div>
            <div v-if="userInfo">
              <v-menu
                bottom
                min-width="200px"
                rounded
                offset-y
              >
                <template #activator="{ on }">
                  <v-btn icon x-large v-on="on">
                    <v-avatar size="40">
                      <img v-lazy="$getIpfs(userInfo.image)" />
                    </v-avatar>
                  </v-btn>
                </template>
                <v-card>
                  <v-list-item-content class="justify-center">
                    <div class="mx-auto text-center">
                      <v-avatar size="40">
                        <img v-lazy="$getIpfs(userInfo.image)" />
                      </v-avatar>
                      <h3>{{ userInfo.fullname }}</h3>
                      <p class="text-caption mt-1">
                        {{ userInfo.email }}
                      </p>
                      <v-divider class="my-3"></v-divider>
                      <v-btn
                        depressed
                        rounded
                        text
                        @click="$router.push('/profile')"
                      >
                        Hồ sơ
                      </v-btn>
                      <v-divider class="my-3"></v-divider>
                      <v-btn depressed rounded text @click="$auth.logout()">
                        Đăng xuất
                      </v-btn>
                    </div>
                  </v-list-item-content>
                </v-card>
              </v-menu>
            </div>
            <v-btn
              v-else
              dark
              class="mt-2"
              color="#FF5722"
              @click="$router.push('/login')"
              >Đăng nhập</v-btn
            >
          </v-row>
        </v-col>
      </v-container>
    </v-app-bar>
    <div class="about-us-contain">
        <img class="img-banner" :src="require(`~/assets/img/banner.png`)" />
        <v-container>
            <v-container>
                <v-row>
                    <v-col>
                        <span class="px-16" style="font-size: 60px;font-weight: bold;">Về GoCyber.xyz</span>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="px-16 mx-16" style="font-size: 30px">
                        <p>Được thành lập vào năm 2021 ở Việt Nam, GoCyber.xyz đã phát triển từ một nhóm đồ án tốt nghiệp nhỏ ở FPT University để giúp mọi người trải nghiệm đặt chỗ quán game dễ dàng hơn.</p>
                        <p>Bằng cách đầu tư vào công nghệ giúp loại bỏ những phiền toái khi có nhu cầu chơi game mà không có dịch vụ đặt chỗ. GoCyber.xyz muốn giúp các quán game trên khắp Việt Nam kết nối với khách hàng và phát triển doanh nghiệp của họ.</p>
                        <p>GoCyber.xyz đặt chỗ thật dễ dàng chỉ với 1 vài thao tác đơn giản, bất cứ ai cũng có thể dễ dàng đặt chỗ. Chúng tôi sẽ tạo mọi điều kiện thuận lợi và luôn bên bạn với bộ phận hỗ trợ khách hàng 24/7.</p>
                    </v-col>
                </v-row>
                <v-row class="mb-4">
                    <v-col>
                        <span class="px-16" style="font-size: 60px;font-weight: bold;">Đội Ngũ Của Chúng Tôi</span>
                    </v-col>
                </v-row>
                <v-row class="mb-16">
                    <v-col class="text-center">
                        <v-avatar size="200">
                        <img
                            :src="require(`~/assets/img/dang.png`)"
                            alt="Dang"
                            class="mb-4"
                        >
                        </v-avatar>
                        <p style="font-size:27px">Trần Minh Đăng</p>
                    </v-col>
                    <v-col class="text-center">
                        <v-avatar size="200">
                        <img
                            :src="require(`~/assets/img/huynhnd2.jpg`)"
                            alt="Huynh"
                            class="mb-4"
                        >
                        </v-avatar>
                        <p style="font-size:27px">Nguyễn Đình Huynh</p>
                    </v-col>
                    <v-col class="text-center">
                        <v-avatar size="200">
                        <img
                            :src="require(`~/assets/img/nang2.jpg`)"
                            alt="Nang"
                            class="mb-4"
                        >
                        </v-avatar>
                        <p style="font-size:27px">Nguyễn Ngọc Năng</p>
                    </v-col>
                    <v-col class="text-center">
                        <v-avatar size="200">
                        <img
                            :src="require(`~/assets/img/linhpdhe130432.jpg`)"
                            alt="Linh"
                            class="mb-4"
                        >
                        </v-avatar>
                        <p style="font-size:27px">Phùng Đức Linh</p>
                    </v-col>
                    <v-col class="text-center">
                        <v-avatar size="200">
                        <img
                            :src="require(`~/assets/img/dungbahe1.png`)"
                            alt="Dung"
                            class="mb-4"
                        >
                        </v-avatar>
                        <p style="font-size:27px">Bùi Anh Dũng</p>
                    </v-col>
                </v-row>
            </v-container>
        </v-container>

    </div>
  </div>
</template>
<script>
export default {
  layout: 'new-layout',
  data() {
    return {
      searchContent: '',
      userInfo: this.$auth.user
    }
  },
}
</script>

<style lang="scss" scoped>
.img-banner {
  width: 100%;
}
.menu-header {
  margin: auto;
  width: 400px;
  font-weight: 500;
  color: #fff !important;
}

.active-menu {
  color: #ff5722;
  border-bottom: 2px solid;
  padding: 6px 0;
}
.send-field {
  opacity: 20%;
}
.large-text {
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 3px;
  font-size: 25px;
}
</style>