<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      color="#255CC2"
      fixed
      app
    >
      <img
        :src="require(`~/assets/img/logo-admin.png`)"
        class="img-logo my-12"
        alt="Vuetify.js"
      >
      <v-divider class="mb-7"></v-divider>
      <v-expansion-panels v-model="panel" multiple accordion dark>
        <v-expansion-panel>
          <v-expansion-panel-header color="#255CC2" class="pr-3">
            <div class="menu-panel-header px-8">
                <v-icon class="mr-3">mdi-laptop</v-icon>
                <span>QUẢN LÝ</span>
            </div>              
          </v-expansion-panel-header>
          <v-expansion-panel-content color="#255CC2">
            <v-list>
              <v-list-item
                v-for="(item, i) in items"
                :key="i"
                :to="item.to"
                router
                exact
              >
                <v-list-item-action>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title v-text="item.title" />
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-navigation-drawer>
    <v-app-bar color="#FFFFFF" fixed app>
      <v-btn
        icon
        @click.stop="drawer = !drawer"
      >
        <v-icon>mdi-{{ `chevron-${!drawer ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-spacer />
      <v-btn color="error" @click="logout">Đăng xuất</v-btn>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      panel: [0],
      fixed: false,
      items: [
        {
          icon: '',
          title: 'Thông tin cơ bản',
          to: '/admin-cyber/information',
        },
        {
          icon: '',
          title: 'Cấu Hình Máy',
          to: '/admin-cyber/hardware',
        },
        {
          icon: '',
          title: 'Phòng',
          to: '/admin-cyber/room',
        },
        {
          icon: '',
          title: 'Quản Lý Đặt Chỗ',
          to: '/admin-cyber/booking-manage?pageIndex=1&pageSize=10',
        }
      ],
    }
  },
  methods: {
    logout() {
      this.$auth.logout()
    }
  }
}
</script>
<style lang="scss" scoped>
.img-logo {
    margin: auto;
    display: flex;  
}
.menu-panel-header {
    display: flex;
    align-items: center;
}
.v-main__wrap{
  background: #fff;
}
</style>