<template>
  <v-app dark>
    <v-app-bar fixed app color="#10375C">
      <v-container>
        <v-col>
          <v-row>
            <img src="~/assets/img/logo-admin.png" class="mr-16" />
            <div class="menu-header ml-16">
              <v-row align="center">
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  :class="type === 0 ? 'active-menu' : ''"
                  @click="linkHomePage"
                  ><span>Trang chủ</span></v-col
                >
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  :class="type === 1 ? 'active-menu' : ''"
                  @click="linkCyberList"
                  >Quán game</v-col
                >
                <v-col 
                  style="cursor: pointer" 
                  class="text-center"
                >
                  Về chúng tôi
                </v-col>
              </v-row>
            </div>
            <v-spacer />
            <v-menu v-if="$auth.loggedIn" bottom min-width="200px" rounded offset-y>
              <template #activator="{ on }">
                <v-btn icon x-large v-on="on">
                  <v-avatar size="40">
                    <img v-lazy="$getIpfs(user.image)" />
                  </v-avatar>
                </v-btn>
              </template>
              <v-card>
                <v-list-item-content class="justify-center">
                  <div class="mx-auto text-center">
                    <v-avatar size="40">
                      <img v-lazy="$getIpfs(user.image)" />
                    </v-avatar>
                    <h3>{{ user.fullname }}</h3>
                    <p class="text-caption mt-1">
                      {{ user.email }}
                    </p>
                    <v-divider class="my-3"></v-divider>
                    <v-btn depressed rounded text @click="$router.push('/profile')"> Hồ sơ </v-btn>
                    <v-divider class="my-3"></v-divider>
                    <v-btn depressed rounded text @click="logout">
                      Đăng xuất
                    </v-btn>
                  </div>
                </v-list-item-content>
              </v-card>
            </v-menu>
            <v-btn v-else dark class="mt-2" color="#FF5722" @click="$router.push('/login')">Đăng nhập</v-btn>
          </v-row>
        </v-col>
      </v-container>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
    <v-footer absolute app color="#10375C">
      <v-container>
        <v-row>
          <v-col>
            <img src="~/assets/img/GoCyber.png" class="pt-3 pl-4" />
            <br />
            <v-card-text class="white--text pt-3">Bản quyền © GoCyber.xyz</v-card-text>
            <v-card-text class="white--text pt-0">Bảo lưu mọi quyền.</v-card-text>
            <v-row class="justify-start mi-2">
              <span class="group ps-6 pt-3 mb-3">
                <v-icon class="mr-4" dark>mdi-instagram</v-icon>
                <v-icon class="mr-4" dark>mdi-web</v-icon>
                <v-icon class="mr-4" dark>mdi-twitter</v-icon>
                <v-icon class="mr-4" dark>mdi-youtube</v-icon>
              </span>
            </v-row>
          </v-col>
          <v-col>
            <v-card-text class="white--text pt-0">Trang Chủ</v-card-text>
            <v-card-text class="white--text pt-0">Quán Game</v-card-text>
            <v-card-text class="white--text pt-0">Về Chúng Tôi</v-card-text>
          </v-col>
          <v-col>
            <v-card-text class="large-text">Đăng ký nhận thông tin ưu đãi</v-card-text>
            <v-text-field
              class="send-field"
              solo
              dark
              label="Nhập email cùa bạn"
              append-icon="mdi-send"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      user: this.$auth.user || {
        fullname: 'John Doe',
        email: 'john.doe@doe.com',
        image: 'QmYo4MPRNCb9kfNT6NBsS7zFQ3nAzZ2MiSEiXkNWqJwnJg'
      },
      type: this.$route.query.type || 0,
    }
  },
  methods: {
    linkHomePage() {
      this.$router.push('/')
      this.type = 0
    },
    linkCyberList() {
      this.$router.push('/cyber-list?pageIndex=0&pageSize=9&searchContent=')
      this.type = 1
    },
    logout() {
      this.$auth.logout()
    },
  },
}
</script>
<style lang="scss" scoped>
.menu-header {
  margin: auto;
  width: 300px;
  font-weight: 500;
  color: #fff !important;
}

.active-menu {
  color: #ff5722;
  border-bottom: 2px solid;
  padding: 6px 0;
}
.send-field {
  opacity: 20%;
}
.large-text {
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 3px;
  font-size: 25px;
}
</style>
