<template>
  <v-app class="text-center" dark>
    <v-container>
      <v-row>
        <v-col>
          <h1 v-if="error.statusCode === 404">
            {{ pageNotFound }}
          </h1>
          <h1 v-else>
            {{ otherError }}
          </h1>
          <v-btn color="error" @click="redirect()"> Home page </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import { USER_ROLE } from '~/enums/roleUser'
export default {
  layout: 'role',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred',
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title,
    }
  },
  methods: {
    redirect() {
      const profile = this.$auth.user
      if(profile) {
        switch (profile.roleId) {
          case USER_ROLE.ADMIN: {
            this.$router.push('/admin/cyber-manage?pageIndex=1&pageSize=10&statusCyberId=&cyberName=')
            break
          }
          case USER_ROLE.CYBER: {
            this.$router.push('/admin-cyber/information')
            break
          }
          case USER_ROLE.USER: {
            this.$router.push('/')
            break
          }
        }
      }
    },
  },
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
