<template>
  <v-app>
    <v-main class="contain-layout-auth">
      <img
        :src="require(`~/assets/img/logo-project.png`)"
        class="logo-project"
        @click="$router.push('/')"
      />
      <Nuxt />
    </v-main>
  </v-app>
</template>
<style lang="scss" scoped>
.contain-layout-auth {
  background: url('../assets/img/bg-auth.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  .logo-project {
    position: fixed;
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    top: 10%;
    left: 10%;
  }
}
</style>