<template>
  <v-app>
    <v-main class="mb-16">
      <Nuxt />
    </v-main>
    <v-footer absolute app color="#10375C">
      <v-container>
        <v-row>
          <v-col>
            <img :src="require(`~/assets/img/GoCyber.png`)" class="pt-3 pl-4" />
            <br />
            <v-card-text class="white--text pt-3">Bản quyền © GoCyber.xyz</v-card-text>
            <v-card-text class="white--text pt-0">Bảo lưu mọi quyền.</v-card-text>
            <v-row class="justify-start mi-2">
              <span class="group ps-6 pt-3 mb-3">
                <v-icon class="mr-4" dark>mdi-instagram</v-icon>
                <v-icon class="mr-4" dark>mdi-web</v-icon>
                <v-icon class="mr-4" dark>mdi-twitter</v-icon>
                <v-icon class="mr-4" dark>mdi-youtube</v-icon>
              </span>
            </v-row>
          </v-col>
          <v-col class="mt-15">
            <v-card-text class="white--text pt-0" style="cursor: pointer;" @click="$router.push('/')">Trang Chủ</v-card-text>
            <v-card-text class="white--text pt-0" style="cursor: pointer;" @click="$router.push('/cyber-list?pageIndex=0&pageSize=9&searchContent=')">Quán Game</v-card-text>
            <v-card-text class="white--text pt-0" style="cursor: pointer;" @click="$router.push('/about-us')">Về Chúng Tôi</v-card-text>
          </v-col>
          <v-col cols="5" class="mt-15">
            <v-card-text class="large-text">Đăng ký nhận thông tin ưu đãi</v-card-text>
            <v-text-field
              class="send-field"
              solo
              dark
              label="Nhập email của bạn"
              append-icon="mdi-send"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>
<style lang="scss" scoped>
.send-field {
  opacity: 20%;
}
.large-text {
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 3px;
  font-size: 25px;
}
</style>