<template>
  <v-row>
    <v-col style="padding: 0" cols="5">
      <v-main class="contain-layout-right">
        <img src="~/assets/img/register-cyber.png" class="img-register-cyber" />
      </v-main>
    </v-col>
    <v-col style="padding: 0" class="pa-0" cols="7">
      <v-app>
        <v-main class="contain-layout-left">
          <Nuxt />
        </v-main>
      </v-app>
    </v-col>
  </v-row>
</template>
<style lang="scss" scoped>
.contain-layout-right {
  // background: url('../assets/img/bg-auth.png');
  // background: url('../assets/img/register-cyber.png');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // align-items: center;
  height: 101.4vh;
}
.img-register-cyber {
  max-height: 100%;
  min-width: 100%;
}
.contain-layout-left {
  height: 100vh;
}
</style>