<template>
  <div class="">
    <v-app-bar fixed app color="#10375C">
      <v-container>
        <v-col>
          <v-row>
            <img :src="require(`~/assets/img/logo-admin.png`)" class="mr-16" />
            <div class="menu-header ml-16">
              <v-row align="center">
                <v-col
                  style="cursor: pointer"
                  class="text-center active-menu"
                  @click="$router.push('/')"
                  ><span>Trang chủ</span></v-col
                >
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  @click="$router.push('/cyber-list?pageIndex=0&pageSize=9&searchContent=')"
                  >Quán game</v-col
                >
                <v-col 
                  style="cursor: pointer" 
                  class="text-center"
                  @click="$router.push('/about-us')"
                >
                  Về chúng tôi
                </v-col>
              </v-row>
            </div>
            <client-only>
              <div v-if="userInfo">
                <v-menu bottom min-width="200px" rounded offset-y>
                  <template #activator="{ on }">
                    <v-btn icon x-large v-on="on">
                      <v-avatar size="40">
                        <img v-lazy="$getIpfs(userInfo.image)" />
                      </v-avatar>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-list-item-content class="justify-center">
                      <div class="mx-auto text-center">
                        <v-avatar size="40">
                          <img v-lazy="$getIpfs(userInfo.image)" />
                        </v-avatar>
                        <h3>{{ userInfo.fullname }}</h3>
                        <p class="text-caption mt-1">
                          {{ userInfo.email }}
                        </p>
                        <v-divider class="my-3"></v-divider>
                        <v-btn depressed rounded text @click="$router.push('/profile')"> Hồ sơ </v-btn>
                        <v-divider class="my-3"></v-divider>
                        <v-btn depressed rounded text @click="$auth.logout()">
                          Đăng xuất
                        </v-btn>
                      </div>
                    </v-list-item-content>
                  </v-card>
                </v-menu>
              </div>
              <v-btn v-else dark class="mt-2" color="#FF5722" @click="$router.push('/login')">Đăng nhập</v-btn>
            </client-only>
          </v-row>
        </v-col>
      </v-container>
    </v-app-bar>
    <img class="img-banner" :src="require(`~/assets/img/banner.png`)" />

    <div class="contain-search-cyber mb-4">
      <div class="row-search-cyber">
        <div style="width: 50%">
          <h1>BẠN ĐANG CẦN TÌM CYBER</h1>
          <v-text-field
            v-model="searchContent"
            solo
            label="Tên Cyber"
            clearable
            class="mt-1"
          ></v-text-field>
        </div>
        <div style="width: 20%">
          <v-btn dark class="btn-search mb-9" @click="$router.push(`/cyber-list?pageIndex=0&pageSize=9&searchContent=${searchContent}`)">
            Tìm Kiếm 
            <v-icon class="ml-4">mdi-arrow-right</v-icon>
          </v-btn>
        </div>
      </div>
    </div>

    <v-container class="px-16">
      <v-row align="baseline">
        <v-col>
          <span class="title-suggest">Gợi ý cho bạn</span>
        </v-col>
        <v-col class="view-all text-right">
          <span 
            style="cursor: pointer;" 
            @click="$router.push('/cyber-list?pageIndex=0&pageSize=9&searchContent=')"
          >
            Xem tất cả
            <v-icon color="#ff5722">mdi-arrow-right</v-icon>
          </span>
        </v-col>
      </v-row>
      <div v-for="(item, i) in listAllCyber" :key="i" class="cyber-item my-4">
        <img v-lazy="$getIpfs(item.image)" class="img-cyber" />
        <div class="contain-right px-12">
          <div class="cyber-item-info">
            <span class="cyber-name">{{item.cyberName}}</span>
            <v-chip color="primary" pill>
              <span class="ml-1">{{item.ratingPoint}}</span>
              <v-icon class="mr-1" right> mdi-star </v-icon>
            </v-chip>
          </div>
          <div>
            <p style="display: flex">
              <v-icon class="mr-1" right> mdi-home </v-icon>
              <span class="cyber-info-detail">{{item.address}}</span>
            </p>
            <p>
              <v-icon class="mr-1" right> mdi-phone </v-icon>
              <span class="cyber-info-detail">{{item.phoneNumber}}</span>
            </p>
            <p>
              <v-icon class="mr-1" right> mdi-monitor-cellphone </v-icon>
              <span class="cyber-info-detail">{{item.slotReady}} chỗ trống</span>
            </p>
          </div>
          <div class="detail-booking">
            <span class="price"></span>
            <div>
              <v-btn dark class="btn-booking" @click="$router.push(`/cyber-detail?id=${item.cyberId}`)">ĐẶT CHỖ</v-btn>
            </div>
          </div>
        </div>
      </div>
    </v-container>

    <div class="feedback">
      <div class="contain-feedback">
        <span class="title">Phản hồi của khách hàng</span>
        <v-carousel
          cycle
          :show-arrows="false"
          hide-delimiter-background
          height="400"
        >
          <v-carousel-item>
            <v-sheet color="#10375C" height="100%" tile>
              <div class="fill-height mt-5">
                <v-row align="center" justify="center">
                  <v-col>
                    <div class="quote text-center">
                      <h3>Cảm ơn Gocyber vì giúp tôi tiết kiệm thời gian khi tìm quán game</h3>
                      <span>
                        Mỗi cuối tuần, tôi và bạn bè của tôi đều rủ nhau ra quán game để cùng nhau tổ chức các cuộc thi đấu. Nhưng nhu cầu chơi game cuối tuần của mọi người rất cao, chúng tôi thường sẽ phải đi tìm xem quán nào còn chỗ để chơi, việc này rất mất thời gian. Thật là vui khi hiện tại đã có GoCyber nên chúng tôi đã rất thuận tiện cho việc đặt chỗ mà không cần phải di chuyển quá nhiều để tìm được các quán game.
                      </span>
                    </div>
                  </v-col>
                  <v-col>
                    <div class="quote text-center">
                      <h3>Cảm ơn Gocyber vì giúp tôi tiết kiệm thời gian khi tìm quán game</h3>
                      <span
                        >a.	Tôi đánh giá Gocyber là một website ưu việt tại Việt Nam. Nhờ Gocyber, tôi có thể tiết kiệm được thời gian khi tìm kiếm các quán game và có thể đặt chỗ để chơi 1 cách dễ dàng.</span
                      >
                    </div>
                  </v-col>
                </v-row>
                <v-row align="center" justify="center">
                  <v-col>
                    <div class="customer-feedback">
                      <div class="text-left">
                        <h4>Cao Danh Tài</h4>
                        <span>Thái Hà, Hà Nội</span>
                      </div>
                    </div>
                  </v-col>
                  <v-col>
                    <div class="customer-feedback">
                      <div class="text-left">
                        <h4>Dương Ngọc Minh</h4>
                        <span>Gia Lâm, Hà Nội</span>
                      </div>
                    </div>
                  </v-col>
                </v-row>
              </div>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet color="#10375C" height="100%" tile>
              <div class="fill-height mt-5">
                <v-row align="center" justify="center">
                  <v-col>
                    <div class="quote text-center">
                      <h3>Đáng Tin Cậy, Rất Chuyên Nghiệp</h3>
                      <span
                        >Em là sinh viên mới xuống Hà Nội không biết địa chỉ của các quán game tại đây. Đã rất khó khăn để em tìm được chỗ chơi game. Em đã biết đến GoCyber qua 1 người anh và thật sự là tiện với 1 người mới như em, tìm kiếm và đặt chỗ quán game thật dễ dàng.</span
                      >
                    </div>
                  </v-col>
                  <v-col>
                    <div class="quote text-center">
                      <h3>Rất hữu ích, tiếp cận được nhiều người chơi, tăng doanh thu quán game</h3>
                      <span
                        >Tôi là chủ quán game ở khu vực Đống Đa. Thường thì người chơi sẽ liên hệ qua số điện thoại để đặt chỗ và tôi rất khó trong việc quản lý. Nhưng giờ thì đã thuận tiện hơn rất nhiều khi có GoCyber.</span
                      >
                    </div>
                  </v-col>
                </v-row>
                <v-row align="center" justify="center">
                  <v-col>
                    <div class="customer-feedback">
                      <div class="text-left">
                        <h4>Nguyễn Việt An</h4>
                        <span>Sinh Viên Bách Khoa</span>
                      </div>
                    </div>
                  </v-col>
                  <v-col>
                    <div class="customer-feedback">
                      <div class="text-left">
                        <h4>Nguyễn Tiến Thịnh</h4>
                        <span>Chủ Quán Game</span>
                      </div>
                    </div>
                  </v-col>
                </v-row>
              </div>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet color="#10375C" height="100%" tile>
              <div class="fill-height mt-5">
                <v-row align="center" justify="center">
                  <v-col>
                    <div class="quote text-center">
                      <h3>Rất hữu ích, tiếp cận được nhiều người chơi, tăng doanh thu quán game</h3>
                      <span>Đã từ rất lâu, tôi luôn có ý định làm 1 hệ thống đặt chỗ cho quán của mình. Rất may tất cả ý tưởng đó đã được các bạn team GoCyber thực hiện và hoàn thiện. Hy vọng rằng với hệ thống này sẽ giúp tôi tiếp cận được thật nhiều người chơi và mang lại trải nghiệm tốt nhất đến với mọi người.</span
                      >
                    </div>
                  </v-col>
                  <v-col>
                    <div class="quote text-center">
                      <h3>Rất hữu ích, tối ưu thao tác, dễ sử dụng</h3>
                      <span
                        >a.	Hệ thống Gocyber được thiết kế 1 cách rất đơn giản, tối giản thao tác, dễ sử dụng, dễ quản lý. Cảm ơn các bạn team GoCyber. Hy vọng trong thời gian tới các bạn sẽ update nhiều tính năng hơn nữa.</span
                      >
                    </div>
                  </v-col>
                </v-row>
                <v-row align="center" justify="center">
                  <v-col>
                    <div class="customer-feedback">
                      <div class="text-left">
                        <h4>Nguyễn Văn Tuấn</h4>
                        <span>Chủ Quán Game</span>
                      </div>
                    </div>
                  </v-col>
                  <v-col>
                    <div class="customer-feedback">
                      <div class="text-left">
                        <h4>Lê Duy Quang</h4>
                        <span>Chủ Quán Game</span>
                      </div>
                    </div>
                  </v-col>
                </v-row>
              </div>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
      </div>
    </div>

    <div class="register">
      <div class="contain-register">
        <div class="contain-left">
          <h2>Đăng Ký Cyber</h2>
          <span class="mb-5">
            Đăng ký trở thành Cyber, dễ dàng quản lý đặt chỗ quán game của bạn.
          </span>
          <v-btn dark class="btn-register" @click="$router.push('/register-cyber')">Đăng ký</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'new-layout',
  middleware: ['user'],
  async asyncData(content) {
    let listAllCyber = [
      {
        image: '',
        cyberName: '',
        ratingPoint: '',
        address: '',
        phoneNumber: '',
        slotReady: '',
        cyberId: '',
      }
    ]
    try {
      const { data } = await content.store.$api.search.searchCyberByName(0, 4, '')
      listAllCyber = data.data
    } catch (error) {
      console.log(error);
    }
    return {
      listAllCyber,
    }
  },
  data() {
    return {
      searchContent: '',
      userInfo: this.$auth.user
    }
  },
  created() {
    const self = this;
    self.$nextTick(function() {
        self.loaded = true;
    })
  },
}
</script>
<style lang="scss" scoped>
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
.img-banner {
  width: 100%;
}
.contain-search-cyber {
  background: #ff57221c;
  padding: 38px 0;
  width: 100%;
  .row-search-cyber {
    color: #fff;
    background: #10375c;
    box-shadow: 0 5px 28px rgba(51, 51, 51, 0.25);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 18px;
    .btn-search {
      width: 100%;
      background: #ff5722;
      border-radius: 10px;
    }
  }
}
.title-suggest {
  font-size: 30px;
}
.view-all {
  color: #ff5722;
  font-size: 20px;
}
.cyber-item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);

  .contain-right {
    width: 100%;
    .cyber-item-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .cyber-name {
        color: #33344f;
        font-size: 24px;
        font-weight: 500;
      }
      .cyber-info-detail {
        color: #777;
        font-weight: 500;
      }
    }
    .detail-booking {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      .price {
        color: #191d23;
        font-size: 20px;
      }
      .btn-booking {
        background: #ff5722;
      }
    }
  }
}
.feedback {
  width: 100%;
  background: #10375c;
  padding: 65px 0;
  .contain-feedback {
    width: 80%;
    margin: auto;
    .title {
      color: #fff;
      font-weight: 800;
      font-size: 30px;
    }
    .quote {
      height: 261px;
      background: #fff;
      padding: 30px 50px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .customer-feedback {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.register {
  width: 100%;
  padding: 65px 0;
  .contain-register {
    width: 80%;
    margin: auto;
    background-image: url('../assets/img/bgRegister.png');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    .contain-left {
      color: #fff;
      width: 50%;
      height: 100%;
      background: rgba(16, 55, 92, 0.76);
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding: 0 122px;
      flex-direction: column;
      .btn-register {
        background: #ff5722;
      }
    }
  }
}
.img-cyber{
  min-width: 384px;
  max-width: 384px;
  height: 268px;
}

.menu-header {
  margin: auto;
  width: 400px;
  font-weight: 500;
  color: #fff !important;
}

.active-menu {
  color: #ff5722;
  border-bottom: 2px solid;
  padding: 6px 0;
}
.send-field {
  opacity: 20%;
}
.large-text {
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 3px;
  font-size: 25px;
}
</style>
