<template>
  <div class="room-container pa-8">
    <div :key="componentKeyReset" class="contain">
      <v-row class="filter-list mb-5" align="center">
        <v-col cols="3">
          <span class="txt-filter">Trạng Thái</span>
          <v-select 
            :items="items" 
            outlined 
            dense
            item-text="key"
            item-value="value"
            @change="changeStatus"
          ></v-select>
        </v-col>
        <v-col cols="3">
          <span class="txt-filter">Phòng</span>
          <v-select 
            :items="listRoom" 
            outlined 
            dense
            item-text="roomName"
            item-value="roomId"
            @change="changeRoom"
          ></v-select>
        </v-col>
      </v-row>
      <v-row class="table-header my-5">
        <v-col>Email ID</v-col>
        <v-col>Điện Thoại</v-col>
        <v-col>Số Máy</v-col>
        <v-col>Phòng</v-col>
        <v-col>Thời Gian</v-col>
        <v-col cols="1" class="text-center">Trạng Thái</v-col>
        <v-col class="text-center">Đánh giá</v-col>
      </v-row>
      <div v-if="listBooking">
        <v-row
          v-for="(item) in listBooking.data"
          :key="item.orderId"
          class="table-row mb-5"
        >
          <v-col>{{ item.emailUser }}</v-col>
          <v-col>{{ item.phoneUser }}</v-col>
          <v-col>{{ item.listSlotName }}</v-col>
          <v-col>{{ item.roomName }}</v-col>
          <v-col>{{ item.startAt }}</v-col>
          <v-col cols="1" class="text-center">
            <v-menu offset-y>
              <template #activator="{ on, attrs }">
                <v-chip
                  v-if="item.statusOrder === 1"
                  color="success"
                  outlined
                  v-bind="attrs"
                  v-on="on"
                >
                  Chấp thuận
                </v-chip>
                <v-chip
                  v-if="item.statusOrder === 2"
                  color="warning"
                  outlined
                  v-bind="attrs"
                  v-on="on"
                >
                  Đang chờ
                </v-chip>
                <v-chip
                  v-if="item.statusOrder === 3"
                  color="error"
                  outlined
                  v-bind="attrs"
                  v-on="on"
                >
                  Từ chối
                </v-chip>
                <v-chip
                  v-if="item.statusOrder === 4"
                  color="deep-orange"
                  outlined
                  v-bind="attrs"
                  v-on="on"
                >
                  Đã huỷ
                </v-chip>
              </template>
              <v-list v-if="item.statusOrder !== 3 && item.statusOrder !== 4">
                <v-list-item
                  v-if="item.statusOrder === 2"
                  style="cursor: pointer"
                  @click="approveOrder(item.orderId, 1)"
                >
                  <span> Chấp thuận </span>
                </v-list-item>
                <v-list-item
                  style="cursor: pointer"
                  @click="rejectOrder(item.orderId, 3)"
                >
                  <span> Từ chối </span>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>
          <v-col class="text-center">  
            <v-rating
              v-if="item.rateUser"
              v-model="item.rateUser.ratePoint"
              background-color="yellow"
              color="yellow accent-4"
              dense
              half-increments
              readonly
              hover
              size="20"
            ></v-rating>        
            <v-btn v-else color="error" :disabled="item.statusOrder === ORDER_STATUS.PENDING" @click="showPopupRate(item.orderId, item.createdBy)">
              <v-icon>mdi-account-star-outline</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <div>
          <v-pagination
            v-if="listBooking.totalPage > 1"
            v-model="pageIndex"
            class="my-12"
            :length="listBooking.totalPage"
            @input="onChangePage"
          />
        </div>
      </div>
      <v-dialog
        v-model="dialog"
        persistent
        max-width="350"
      >
        <v-card>
          <v-card-title class="text-h5">
            Đánh giá người dùng
          </v-card-title>
          <div class="text-center my-5">
            <!-- <span v-if="true" class="text-caption text-center red--text">Bạn chưa chọn sao muốn đánh giá</span> -->
            <v-rating
              v-model="rating"
              background-color="yellow"
              color="yellow accent-4"
              dense
              half-increments
              hover
              size="40"
            ></v-rating>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green darken-1"
              text
              @click="dialog = false"
            >
              Hủy
            </v-btn>
            <v-btn
              :disabled="rating === 0"
              color="green darken-1"
              text
              @click="rateUser"
            >
              Xác nhận
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { ORDER_STATUS } from '~/enums/roleUser'
export default {
  async asyncData({ store, query, redirect }) {
    let dataCyber
    let listRoom
    let listBooking
    try {
      dataCyber = await store.$api.cyberInfor.getMyCyber()
      const dataRoom = await store.$api.room.getListRoomByCyberId(0, 999, dataCyber.data.data.id)
      const { data } = await store.$api.bookingManage.filterOrderManager(
        dataCyber?.data.data.id,
        query.pageIndex,
        query.pageSize,
        query.orderStatus,
        query.roomId
      )
      listBooking = data
      if (dataRoom.data.data) {
        listRoom = [
          {
            roomName: 'Tất cả',
            roomId: -1
          },
          ...dataRoom.data.data,
        ]
      }
    } catch (error) {
      redirect('/login');  
    }
    return {
      cyberId: dataCyber.data.data.id,
      listBooking,
      listRoom,
    }
  },
  data() {
    return {
      ORDER_STATUS,
      tab: null,
      date: null,
      date1: null,
      menu: false,
      menu1: false,
      componentKeyReset: 0,
      items: [
        {
          key: 'Tất cả',
          value: -1
        },
        {
          key: 'Chấp thuận',
          value: ORDER_STATUS.APPROVE
        },
        {
          key: 'Đang chờ',
          value: ORDER_STATUS.PENDING
        },
        {
          key: 'Từ chối',
          value: ORDER_STATUS.REJECT
        },
        {
          key: 'Đơn bị hủy',
          value: ORDER_STATUS.CANCEL
        },
      ],
      dialog: false,
      rating: 0,
      dataPayloadRating: {},
      pageIndex: parseInt(_.get(this.$route.query, 'pageIndex', 0)),
    }
  },
  watchQuery: true,
  methods: {
    forceRerender() {
      this.componentKeyReset += 1
    },
    async approveOrder(id, status) {
      try {
        await this.$api.bookingManage.changeStatusOrder(id, status)
        const { data } = await this.$api.bookingManage.filterOrderManager(this.cyberId, this.$route.query.pageIndex, this.$route.query.pageSize, 0, 0)
        this.listBooking = data
        this.forceRerender()
      } catch (error) {
        console.log(error)
      }
    },
    async rejectOrder(id, status) {
      try {
          await this.$api.bookingManage.changeStatusOrder(id, status)
          const { data } = await this.$api.bookingManage.filterOrderManager(this.cyberId, this.$route.query.pageIndex, this.$route.query.pageSize, 0, 0)
          this.listBooking = data
          this.forceRerender()
      } catch (error) {
        console.log(error)
      }
    },
    showPopupRate (orderId, userId) {
      this.dialog = true
      this.dataPayloadRating = {
        cyberId: this.cyberId,
        ratePoint: this.rating,
        commentContent: 'string',
        usersId: userId,
        orderId
      }
    },
    async rateUser () {
      try {
        this.dataPayloadRating.ratePoint = this.rating
        await this.$api.cyberRateUser.addNewRateUser(this.dataPayloadRating)
        const { data } = await this.$api.bookingManage.filterOrderManager(this.cyberId, this.$route.query.pageIndex, this.$route.query.pageSize, 0, 0)
        this.listBooking = data
        this.dialog = false
        this.rating = 0
        this.forceRerender()
      } catch (error) {
        console.log(error);
      }
    },
    changeStatus (status) {
      if (status === -1) {
        this.$router.push({
          query: _.assign({}, this.$route.query, { orderStatus: 0, pageIndex: 1 })
        })
      } else {
        this.$router.push({
          query: _.assign({}, this.$route.query, { orderStatus: status, pageIndex: 1 })
        })
      }
    },
    changeRoom (status) {
      if (status === -1) {
        this.$router.push({
          query: _.assign({}, this.$route.query, { roomId: 0, pageIndex: 1 })
        })
      } else {
        this.$router.push({
          query: _.assign({}, this.$route.query, { roomId: status, pageIndex: 1 })
        })
      }
    },
    onChangePage () {
      this.$router.push({
        query: _.assign({}, this.$route.query, { pageIndex: this.pageIndex })
      })
    }
  },
}
</script>

<style lang="scss" scoped>
.room-container {
  background: #f4f4f4;
  height: 100%;
  .contain {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 32px;
    .filter-list {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
    .txt-filter {
      font-size: 18px;
      color: #535353;
    }
    .table-header {
      background: #255cc2;
      color: #fff;
      border-radius: 10px;
    }
    .table-row {
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
  }
}
</style>
