<template>
  <div class="hardware-container py-8">
    <v-alert v-model="showAlert" :type="typeAlert" class="alert-mes">
      {{alertMes}}
    </v-alert>
    <div class="contain">
      <v-row algin="center">
        <v-col>
          <span class="pn-list-hardware">Danh Sách Cấu Hình Máy</span>
        </v-col>
        <v-col style="text-align: right">
          <v-btn
            color="primary"
            class="btn-add-hardware"
            @click="selectHardware({}, 0)"
          >
            <v-icon>mdi-plus</v-icon>
            Tạo cấu hình
          </v-btn>
        </v-col>
      </v-row>
      <v-divider class="my-7"></v-divider>
      <v-row class="table-header my-5">
        <v-col>Tên cấu hình</v-col>
        <v-col>Cập nhật</v-col>
        <v-col cols="1">Thao tác</v-col>
      </v-row>
      <v-row
        v-for="(item, index) in hardwareList"
        :key="index"
        class="table-row mb-5"
        @click="selectHardware(item, 1)"
      >
        <v-col>{{ item.nameHardware }}</v-col>
        <v-col>{{ item.createdDate }}</v-col>
        <v-col cols="1">
          <v-btn
            color="error"
            @click.stop="deleteHardware(item.id)"
            >Xoá</v-btn
          >
        </v-col>
      </v-row>
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card>
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="closeDialog">Trở về</v-btn>
            <div style="width: 100%; text-align: center">Cấu hình</div>
          </v-toolbar>
          <div class="px-16 pt-10">
            <v-container>
              <div
                class="tab4-center pa-9"
                style="
                  border: 1px solid #e6e4eb;
                  border-radius: 4px;
                  width: 70%;
                  margin: auto;
                "
              >
                <v-form ref="formHardware">
                  <v-row class="mb-4">
                    <v-col>Cài đặt cấu hình</v-col>
                    <v-col style="text-align: right">
                      <v-btn color="primary" @click="updateHardware()">Lưu</v-btn>
                    </v-col>
                  </v-row>
                  <v-row class="my-0">
                    <v-col class="py-0">
                      <v-text-field
                        v-model="hardware.nameHardware"
                        label="Tên cấu hình"
                        outlined
                        dense
                        :rules="ruleName"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="my-0">
                    <v-col class="py-0">
                      <v-text-field
                        v-model="hardware.monitor"
                        label="Màn Hình"
                        outlined
                        :rules="ruleMonitor"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="my-0">
                    <v-col class="py-0">
                      <v-text-field
                        v-model="hardware.gpu"
                        label="GPU"
                        outlined
                        :rules="ruleGpu"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="my-0">
                    <v-col class="py-0">
                      <v-text-field
                        v-model="hardware.cpu"
                        label="CPU"
                        outlined
                        dense
                        :rules="ruleCpu"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="my-0">
                    <v-col class="py-0">
                      <v-text-field
                        v-model="hardware.ram"
                        label="RAM"
                        outlined
                        :rules="ruleRam"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-form>
              </div>
            </v-container>
          </div>
        </v-card>
      </v-dialog>
    </div>
    <v-dialog
      v-model="dialogError"
      width="700"
      dark
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/Error.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4 text-center">
          {{ messageError }}
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="closePopupError">
          Ok
        </v-btn>
      </div>        
    </v-dialog>
  </div>
</template>
<script>
export default {
  async asyncData(content) {
    let cyberId
    let hardwareList
    try {
      const dataCyber = await content.store.$api.cyberInfor.getMyCyber()
      const { data } = await content.store.$api.setUpHardware.getHardwaresByCyberId(dataCyber?.data.data.id)    
      cyberId = dataCyber.data.data.id
      hardwareList = data.data
    } catch (error) {
      content.redirect('/login');   
    }
    return {
      cyberId,
      hardwareList,
    }
  },
  data() {
    return {
      dialog: false,
      hardware: {
        id: 0,
        monitor: 'monitor',
        gpu: 'gpu',
        cpu: 'cpu',
        ram: 'ram',
        createdDate: '2021-11-19T10:04:37.517Z',
        updateDate: '2021-11-19T10:04:37.517Z',
        nameHardware: 'nameHardware',
        cyberID: 0,
      },
      isCreate: true,
      alertMes: '',
      typeAlert: 'success',
      showAlert: false,
      dialogError: false,
      messageError: 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!',
      ruleName: [
        (v) => !!v || 'Vui lòng điền tên cấu hình',
      ],
      ruleMonitor: [
        (v) => !!v || 'Vui lòng điền màn hình',
      ],
      ruleGpu: [
        (v) => !!v || 'Vui lòng điền GPU',
      ],
      ruleCpu: [
        (v) => !!v || 'Vui lòng điền CPU',
      ],
      ruleRam: [
        (v) => !!v || 'Vui lòng điền RAM',
      ],
    }
  },
  watch: {
    showAlert (newValue, oldValue) {
      if(newValue)
      setInterval(() => {
        this.showAlert = false
        this.alertMes = ''
      }, 5000);
    }
  },
  methods: {
    selectHardware(item, type) {
      this.dialog = true
      if (type === 0) {
        this.hardware = {
          id: 0,
          monitor: '',
          gpu: '',
          cpu: '',
          ram: '',
          createdDate: '2021-08-11T13:23:44',
          updateDate: '2021-08-11T13:23:44',
          nameHardware: '',
          cyberID: this.cyberId,
        }
        this.isCreate = true
      } else {
        this.hardware = item
        this.isCreate = false
      }
    },
    async updateHardware() {
      try {
        if (this.$refs.formHardware.validate()) {
          if (this.isCreate) {
            await this.$api.setUpHardware.createSlotHardwareConfig(this.hardware)
            const { data } = await this.$api.setUpHardware.getHardwaresByCyberId(this.cyberId)
            this.hardwareList = data.data
            this.alertMes = 'Tạo cấu hình thành công!'
          } else {
            await this.$api.setUpHardware.updateSlotHardwareConfig(this.hardware)
            const { data } = await this.$api.setUpHardware.getHardwaresByCyberId(this.cyberId)
            this.hardwareList = data.data
            this.alertMes = 'Cập nhật cấu hình thành công!'
          }
          this.dialog = false
          this.showAlert = true
        }
      } catch (error) {
        const { data } = await this.$api.setUpHardware.getHardwaresByCyberId(this.cyberId)
        this.hardwareList = data.data
        this.dialog = false
        this.dialogError = true
      }      
    },

    async deleteHardware(id) {
      try {
        await this.$api.setUpHardware.removeSlotHardwareConfig(id)
        const { data } = await this.$api.setUpHardware.getHardwaresByCyberId(this.cyberId)
        this.hardwareList = data.data
        this.showAlert = true
        this.alertMes = 'Xóa cấu hình thành công!'
      } catch (error) {
        this.dialogError = true
      }
    },

    createHardware() {
      this.dialog = true
    },
    async closeDialog () {
      try {
        this.dialog = false
        const { data } = await this.$api.setUpHardware.getHardwaresByCyberId(this.cyberId)
        this.hardwareList = data.data
      } catch (error) {
        this.dialog = false
      }
    },
    closePopupError () {
      this.dialogError = false
      this.messageError = 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!'
    },
  },
}
</script>
<style lang="scss" scoped>
.hardware-container {
  background: #f4f4f4;
  height: 100%;
  padding: 32px;
  .contain {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 32px;
    .pn-list-hardware {
      font-weight: 600;
      font-size: 24px;
      color: #797979;
    }
    .btn-add-hardware {
      font-weight: 600;
      color: #fff;
    }
    .table-header {
      background: #255cc2;
      color: #fff;
      border-radius: 10px;
    }
    .table-row {
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
  }
}
.alert-mes {
  position: fixed;
  right: 10px;
  top: 70px;
  z-index: 999;
}
.dialog-message {
  background: rgb(61, 65, 75);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
</style>
