<template>
  <div class="information-container">
    <v-alert v-model="showAlert" :type="typeAlert" class="alert-mes">
      {{alertMes}}
    </v-alert>
    <div class="contain">
      <div
        class="tab4-center pa-9"
        style="border: 1px solid #e6e4eb; border-radius: 4px; margin: auto; background: #fff"
      >
        <v-row algin="center">
          <v-col>
            <span class="pn-list-information">Thông tin cơ bản</span>
          </v-col>
          <v-col style="text-align: right">
            <v-btn
              color="primary"
              class="btn-add-information"
              :loading="isLoadingUpload"
              @click="updateInfoCyber"
              >Lưu</v-btn
            >
          </v-col>
        </v-row>
        <v-divider class="my-7"></v-divider>

        <div class="image-cyber mb-8">
          <img 
            v-if="isLoadingUpload"
            :src="require(`~/assets/img/giphy.gif`)"
            class="img-review"
          />
          <img v-else v-lazy="previewImg" class="img-review" />
          <input
            id="upload-file"
            type="file"
            :accept="acceptType"
            class="input-upload"
            @change="selectFile"
          />
          <label for="upload-file">
            <v-chip large color="primary" class="btn-upload">
              <v-icon class="ml-1" size="30" left> mdi-camera </v-icon>
            </v-chip>
          </label>
        </div>

        <v-row class="my-0">
          <v-col class="py-0">
            <v-text-field
              v-model="cyber.cyberName"
              label="Tên quán"
              outlined
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="my-0">
          <v-col class="py-0">
            <v-text-field
              v-model="cyber.phoneNumber"
              label="liên hệ"
              outlined
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="my-0">
          <v-col class="py-0">
            <v-text-field
              v-model="cyber.address"
              label="Địa chỉ"
              outlined
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="my-0">
          <v-col class="py-0" cols="12">
            <v-textarea
              v-model="cyber.cyberDescription"
              label="Mô tả"
              outlined
            ></v-textarea>
          </v-col>
        </v-row>
      </div>
    </div>
        <div class="contain pt-0">
      <div
        class="tab4-center pa-9"
        style="border: 1px solid #e6e4eb; border-radius: 4px; margin: auto; background: #fff"
      >
        <v-row algin="center">
          <v-col>
            <span class="pn-list-information">Đổi Mật Khẩu</span>
          </v-col>
          <v-col style="text-align: right">
            <v-btn
              color="primary"
              class="btn-add-information"
              @click="changePassowrd"
              >Lưu</v-btn
            >
          </v-col>
        </v-row>
        <v-divider class="my-7"></v-divider>
        
        <v-form ref="formChangePassword">
          <v-row class="my-0" justify="center">
            <v-col cols="6" class="py-0">
              <v-text-field
                v-model="password"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="rulePassword"
                :type="show ? 'text' : 'password'"
                outlined
                required
                dense
                rounded
                label="Mật khẩu cũ"
                placeholder="Mật khẩu cũ"
                @click:append="show = !show"
              />
            </v-col>
          </v-row>
          <v-row class="my-0" justify="center">
            <v-col cols="6" class="py-0">
              <v-text-field
                v-model="newPassword"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="ruleNewPassword"
                :type="show ? 'text' : 'password'"
                outlined
                dense
                required
                rounded
                label="Mật khẩu mới"
                placeholder="Mật khẩu mới"
                @click:append="show = !show"
              />
            </v-col>
          </v-row>
          <v-row class="my-0" justify="center">
            <v-col cols="6" class="py-0">
              <v-text-field
                v-model="confirmNewPassword"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="ruleConfirmPassword"
                :type="show ? 'text' : 'password'"
                outlined
                dense
                required
                rounded
                label="Mật khẩu mới (xác nhận lại)"
                placeholder="Mật khẩu mới (xác nhận lại)"
                @click:append="show = !show"
              />
            </v-col>
          </v-row>
        </v-form>
      </div>
    </div>
    <v-dialog
      v-model="dialogError"
      width="700"
      dark
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/Error.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4 text-center">
          {{ messageError }}
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="closePopupError">
          Ok
        </v-btn>
      </div>        
    </v-dialog>
  </div>
</template>
<script>
export default {
  async asyncData({ store, redirect }) {
    let cyber = {
      address: null,
      bossCyberID: null,
      bossCyberName: null,
      businessLicense: null,
      createdDate: null,
      cyberDescription: null,
      cyberName: '',
      cyberId: null,
      image: null,
      lat: null,
      lng: null,
      phoneNumber: null,
      ratingPoint: null,
      status: null,
    }
    try {
      const { data } = await store.$api.cyberInfor.getMyCyber()
      cyber = data.data
    } catch (error) {
      redirect('/login');
    }
    return {
      cyber
    }
  },
  data() {
    return {
      acceptType: 'image/png, image/jpeg, image/gif',
      isLoadingUpload: false,
      previewImg: 'https://cdn.vuetifyjs.com/images/parallax/material2.jpg',
      rulePassword: [
        (v) => !!v || 'Chưa nhập mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      show: false,
      password: '',
      newPassword: '',
      confirmNewPassword: '',
      ruleNewPassword: [
        (v) => !!v || 'Vui lòng nhập mật khẩu mới',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) =>
          this.password !== this.newPassword ||
          'Trùng với mật khẩu cũ'
      ],
      ruleConfirmPassword: [
        (v) => !!v || 'Vui lòng xác nhận mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) =>
          this.confirmNewPassword === this.newPassword ||
          'Mật khẩu chưa khớp'
      ],
      alertMes: '',
      typeAlert: 'success',
      showAlert: false,
      dialogError: false,
      messageError: 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!',
    }
  },
  watch: {
    showAlert (newValue, oldValue) {
      if(newValue)
      setInterval(() => {
        this.showAlert = false
        this.alertMes = ''
      }, 5000);
    }
  },
  mounted() {
    this.previewImg = this.$getIpfs(this.cyber?.image)
  },
  methods: {
    async selectFile(e) {
      if(!this.isLoadingUpload) {
        try {
          this.isLoadingUpload = true
          const data1 = await this.$pinFileToIPFS(e.target.files[0]) // https://defiforyou.mypinata.cloud/ipfs/
          this.previewImg = URL.createObjectURL(e.target.files[0])
          this.cyber.image = data1.data.IpfsHash
          this.isLoadingUpload = false          
        } catch (error) {
          // this.$router.push('/login');
          console.log(error);
        }
      }
    },
    async updateInfoCyber() {
      try {
        await this.$api.cyberInfor.editCyberInfor(this.cyber)
        this.showAlert = true
        this.alertMes = 'Cập nhật thông tin thành công!'
      } catch (error) {
        // this.$router.push('/login');
          this.dialogError = true
      }
    },
    async changePassowrd () {
      if (this.$refs.formChangePassword.validate()) {
        try {
          await this.$api.userManager.changePassword(this.password ,this.newPassword)
          this.showAlert = true
          this.alertMes = 'Đổi mật khẩu thành công!'
        } catch (error) {
          this.dialogError = true
          if(error.response.data.message === "Password has wrong") {
            this.messageError = 'Mật khẩu cũ không chính xác!'
          }
        }
      }
    },
    closePopupError () {
      this.dialogError = false
      this.messageError = 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!'
    },
  },
}
</script>
<style lang="scss" scoped>
.information-container {
  background: #f4f4f4;
  .contain {
    background: #f4f4f4;
    padding: 32px;
    .pn-list-information {
      font-weight: 600;
      font-size: 24px;
      color: #797979;
    }

    .btn-add-information {
      font-weight: 600;
      color: #fff;
    }
  }
}
.input-upload {
  display: none;
}
.image-cyber {
  width: 100%;
  height: 465px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  .btn-upload {
    position: absolute;
    bottom: 16px;
    right: 30px;
    cursor: pointer;
  }
  .img-review {
    max-width: 100%;
    max-height: 100%;
  }
}
.alert-mes {
  position: fixed;
  right: 10px;
  top: 70px;
  z-index: 999;
}
.dialog-message {
  background: rgb(61, 65, 75);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
</style>
