<template>
  <div class="room-container pa-8">
    <v-alert v-model="showAlert" :type="typeAlert" class="alert-mes">
      {{alertMes}}
    </v-alert>
    <div :key="componentResetSizeRoom" class="contain">
      <v-row align="center">
        <v-col>
          <span class="pn-list-room">Danh Sách Phòng Chơi</span>
        </v-col>
        <v-col style="text-align: right">
          <v-btn color="primary" class="btn-add-room" @click="showPopupCreateRoom">
            <v-icon>mdi-plus</v-icon>
            Tạo Phòng
          </v-btn>
        </v-col>
      </v-row>
      <v-divider class="my-7"></v-divider>
      <v-row class="table-header my-5">
        <v-col>Tên Phòng</v-col>
        <v-col>Vị trí</v-col>
        <v-col>Loại phòng</v-col>
        <v-col>Cấu hình</v-col>
        <v-col>Ngang/dọc</v-col>
        <v-col class="text-center">Thao tác</v-col>
      </v-row>
      <v-row
        v-for="(item, index) in listRoom.data"
        :key="index"
        class="table-row mb-5"
        @click="handleSelectRoom(item)"
      >
        <v-col>{{ item.roomName }}</v-col>
        <v-col>{{ item.roomPosition }}</v-col>
        <v-col>{{ item.roomTypeName }}</v-col>
        <v-col>{{ item.hardwareName }}</v-col>
        <v-col>
          {{ item.maxX }}/{{ item.maxY }}
        </v-col>
        <v-col class="text-center">
          <v-btn color="error" @click.stop="deleteRom(item.roomId)">Xóa</v-btn>
        </v-col>
      </v-row>
    </div>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="closeDialog"> Trờ về </v-btn>
          <div style="width: 100%; text-align: center">{{roomItem.roomName}}</div>
        </v-toolbar>
        <div class="body-contain">
          <v-tabs
            v-model="tab"
            background-color="transparent"
            grow
            class="mb-8"
            style="width: 60%; margin: auto"
          >
            <v-tab v-for="item in items" :key="item" @click="clearData">
              {{ item }}
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item>
              <div class="px-10 pt-1">
                <v-row>
                  <v-col cols="4">
                    <div
                      class="tab1-left pa-6"
                      style="border: 1px solid #e6e4eb; border-radius: 4px"
                    >
                      <v-row class="mb-4" align="baseline">
                        <v-col>Thông Tin Cơ Bản</v-col>
                        <v-col style="text-align: right">
                          <v-btn color="primary" :loading="isLoadingUpload" @click="updateInforRoom">Lưu</v-btn>
                        </v-col>
                      </v-row>
                      <div class="image-room mb-7">
                        <img 
                          v-if="isLoadingUpload"
                          :src="require(`~/assets/img/giphy.gif`)"
                          class="img-review"
                        />
                        <img v-else v-lazy="previewImg" class="avatar-preview"/>
                        <input
                          id="upload-file"
                          type="file"
                          :accept="acceptType"
                          class="input-upload"
                          @change="selectFile"
                        />
                        <label for="upload-file">
                          <v-chip color="primary" class="btn-upload">
                            <v-icon size="20"> mdi-camera </v-icon>
                          </v-chip>
                        </label>
                      </div>
                      <v-form ref="editInfoRoomForm">
                        <v-row class="my-0">
                          <v-col class="py-0">
                            <v-text-field
                              v-model="roomItem.roomName"
                              label="Tên Phòng"
                              outlined
                              :rules="ruleRoomName"
                              dense
                              required
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row class="my-0">
                          <v-col class="py-0">
                            <v-select
                              v-model="roomItem.hardwareConfigId"
                              :items="listHardware"
                              item-text="nameHardware"
                              item-value="id"
                              label="Cấu hình"
                              dense
                              outlined
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row class="my-0">
                          <v-col class="py-0">
                            <v-text-field
                              v-model="roomItem.priceRoom"
                              label="Giá Tiền / Thời Gian"
                              :rules="ruleRoomPrice"
                              outlined
                              type="number"
                              dense
                              required
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row class="my-0">
                          <v-col class="py-0">
                            <v-text-field
                              v-model="roomItem.roomPosition"
                              label="Vị Trí"
                              :rules="ruleRoomPosition"
                              outlined
                              dense
                              required
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-form>
                    </div>
                  </v-col>
                  <v-col :key="reloadComponent" cols="8">
                    <div
                      class="tab1-right pa-6"
                      style="border: 1px solid #e6e4eb; border-radius: 4px"
                    >
                      <v-row align="baseline">
                        <v-col>
                          <span>Số lượng máy: {{ slots.length }}</span>
                        </v-col>
                        <v-col class="text-right">
                          <v-btn
                            v-if="hasPicked > 0"
                            fab
                            dark
                            x-small
                            color="green"
                            class="btn-reset mr-4"
                            @click="resetPicked"
                          >
                            <v-icon>mdi-cached</v-icon>
                          </v-btn>
                          <v-menu offset-y>
                            <template #activator="{ on, attrs }">
                              <v-btn
                                color="primary"
                                v-bind="attrs"
                                :disabled="hasPicked == 0"
                                v-on="on"
                              >
                                Thao tác
                              </v-btn>
                            </template>
                            <v-list style="cursor: pointer;">
                              <v-list-item v-if="typeStatusSelect === -1 || typeStatusSelect === 5" @click="createNewSlot">
                                <v-list-item-title>Đặt máy</v-list-item-title>
                              </v-list-item>
                              <v-list-item v-if="typeStatusSelect === SLOT_STATUS.FREE" @click="removeSlot">
                                <v-list-item-title>Gỡ máy</v-list-item-title>
                              </v-list-item>
                              <v-list-item v-if="typeStatusSelect === SLOT_STATUS.BOOKED || typeStatusSelect === SLOT_STATUS.BUSY || typeStatusSelect === SLOT_STATUS.MAINTENANCE" @click="changeStatusSlot(SLOT_STATUS.FREE)">
                                <v-list-item-title>Rảnh</v-list-item-title>
                              </v-list-item>
                              <v-list-item v-if="typeStatusSelect === SLOT_STATUS.FREE" @click="changeStatusSlot(SLOT_STATUS.BUSY)">                              
                                <v-list-item-title>Bận</v-list-item-title>
                              </v-list-item>
                              <v-list-item v-if="typeStatusSelect === SLOT_STATUS.FREE" @click="changeStatusSlot(SLOT_STATUS.MAINTENANCE)">
                                <v-list-item-title>Bảo trì</v-list-item-title>
                              </v-list-item>
                            </v-list>
                          </v-menu>
                        </v-col>
                      </v-row>
                      <v-row class="mb-7">
                        <v-col cols="10" class="text-right">
                          <div class="status-com">
                            <div class="mr-6">  
                              <v-icon size="20">
                                mdi-monitor
                              </v-icon>
                              : Vị trí trống
                            </div>
                            <div class="mr-6">
                              <v-icon size="20" color="#1867c0">
                                mdi-monitor
                              </v-icon>
                              : Đang sử dụng
                            </div>
                            <div class="mr-6">
                              <v-icon size="20" color="#4ADE80">
                                mdi-monitor
                              </v-icon>
                              : Máy rảnh
                            </div>
                            <div class="mr-6">
                              <v-icon size="20" color="#ff5252">
                                mdi-monitor
                              </v-icon>
                              : Bảo trì
                            </div>
                            <div class="mr-6">
                              <v-icon size="20" color="#fb8c00">
                                mdi-monitor
                              </v-icon>
                              : Đang được đặt
                            </div>
                          </div>                        
                        </v-col>
                      </v-row>
                      <div v-if="$vuetify.breakpoint.lgAndDown && maxWidth > 9" class="computer-contain size-md-down">
                        <div
                          v-for="i in roomItem.maxX"
                          :key="i"
                          class="computer-number mb-8"
                        >
                          <div
                            v-for="j in roomItem.maxX"
                            :key="j"
                            class="computer-number mb-8"
                          >
                            <v-icon 
                              :ref="`com-`+i+`-`+j" 
                              :class="getStatusSlot(i, j)" 
                              class="mx-3"
                              @click="selectCom(getPositionHasCom(i, j), i, j, j, i + roomItem.maxX * (j - 1))"
                            >
                              mdi-monitor
                            </v-icon>
                            {{getPositionHasCom(i, j).slotName || i + roomItem.maxX * (j - 1)}}
                          </div>
                        </div>
                      </div>
                      <div v-else class="computer-contain size-normar">
                        <div
                          v-for="(i, index) in roomItem.maxX"
                          :key="index"
                          class="computer-number mb-8"
                        >
                          <div
                            v-for="j in roomItem.maxY"
                            :key="j"
                            class="computer-number mb-8"
                          >
                            <v-icon 
                              :ref="`com-`+i+`-`+j" 
                              :class="getStatusSlot(i, j)" 
                              class="mx-3"
                              @click="selectCom(getPositionHasCom(i, j), i, j, i + roomItem.maxX * (j - 1))"
                            >
                              mdi-monitor
                            </v-icon>
                            {{getPositionHasCom(i, j).slotName || i + roomItem.maxX * (j - 1)}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-col>
                </v-row>
              </div>
            </v-tab-item>
            <v-tab-item>
              <div class="px-10 py-3">
                <v-row class="form-input mb-4" align="baseline">
                  <v-col cols="1">
                    <div class="text-left font-weight-medium ml-3">
                      Thông Tin
                    </div>
                  </v-col>
                  <v-col>
                    <div>
                      <v-form ref="editSizeRoomForm">
                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="maxWidth"
                              label="Hàng Dọc"
                              outlined
                              dense
                              required
                              type="number"
                              :rules="maxWidthRules"
                            ></v-text-field>
                          </v-col>
                          <v-col>
                            <v-text-field
                              v-model="maxHeigh"
                              label="Hàng Ngang"
                              outlined
                              type="number"
                              dense
                              required
                              :rules="maxHeightRules"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-form>
                    </div>
                  </v-col>
                  <v-col cols="1">
                    <div class="text-right mr-3">
                      <v-btn color="primary" :disabled="maxWidth === roomItem.maxX && maxHeigh === roomItem.maxY" @click="editSizeRoom">Lưu</v-btn>
                    </div>
                  </v-col>
                </v-row>

                <div class="map-room">
                  <v-row class="mt-4">
                    <v-col cols="2">
                      <div class="text-left font-weight-medium ml-3">
                        Sơ Đồ Phòng
                      </div>
                    </v-col>
                    <v-col cols="10" class="text-right">
                      <div class="status-com">
                        <div class="mr-6">  
                          <v-icon size="20">
                            mdi-monitor
                          </v-icon>
                          : Vị trí trống
                        </div>
                        <div class="mr-6">
                          <v-icon size="20" color="#1867c0">
                            mdi-monitor
                          </v-icon>
                          : Đang sử dụng
                        </div>
                        <div class="mr-6">
                          <v-icon size="20" color="#4ADE80">
                            mdi-monitor
                          </v-icon>
                          : Máy rảnh
                        </div>
                        <div class="mr-6">
                          <v-icon size="20" color="#ff5252">
                            mdi-monitor
                          </v-icon>
                          : Bảo trì
                        </div>
                        <div class="mr-6">
                          <v-icon size="20" color="#fb8c00">
                            mdi-monitor
                          </v-icon>
                          : Đang được đặt
                        </div>
                      </div>                      
                    </v-col>
                  </v-row>
                  <v-row class="py-6">                  
                    <v-col>
                      <div v-if="$vuetify.breakpoint.lgAndDown && maxWidth > 14" class="computer-contain size-md-down">
                        <div
                          v-for="i in maxWidth"
                          :key="i"
                          class="computer-number mb-8"
                        >
                          <div
                            v-for="j in maxHeigh"
                            :key="j"
                            class="computer-number mb-8"
                          >
                            <v-icon :class="getStatusSlot(i, j)" class="mx-3">
                              mdi-monitor
                            </v-icon>
                          </div>
                        </div>
                      </div>
                      <div v-else class="computer-contain size-normar">
                        <div
                          v-for="i in maxWidth"
                          :key="i"
                          class="computer-number mb-8"
                        >
                          <div
                            v-for="j in maxHeigh"
                            :key="j"
                            class="computer-number mb-8"
                          >
                            <v-icon :class="getStatusSlot(i, j)" class="mx-3">
                              mdi-monitor
                            </v-icon>
                          </div>
                        </div>
                      </div>
                    </v-col>
                    
                  </v-row>
                </div>
              </div>
            </v-tab-item>
          </v-tabs-items>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogCreate"
      persistent
      max-width="800"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Tạo phòng máy</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="createRoomForm">
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  class="py-0"
                >
                  <v-text-field
                    v-model="roomCreate.roomName"
                    label="Tên phòng"
                    outlined
                    :rules="ruleRoomNameCreate"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  class="py-0"
                >
                  <v-text-field
                    v-model="roomCreate.roomTypeName"
                    label="Loại phòng"
                    :rules="ruleRoomTypeCreate"
                    outlined
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  class="py-0"
                >
                  <v-select
                    v-model="roomCreate.hardwareConfigId"
                    :items="listHardware"
                    item-text="nameHardware"
                    item-value="id"
                    :rules="ruleRoomHardwarecreate"
                    label="Cấu hình"
                    dense
                    outlined
                  ></v-select>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  class="py-0"
                >
                  <v-text-field
                    v-model="roomCreate.priceRoom"
                    label="Giá tiền"
                    :rules="ruleRoomPriceCreate"
                    outlined
                    type="number"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="py-0"
                >
                  <v-text-field
                    v-model="roomCreate.roomPosition"
                    label="Vị trí"
                    outlined
                    :rules="ruleRoomPositionCreate"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="py-0"
                >
                  <v-text-field
                    v-model="roomCreate.maxX"
                    label="Chiều dọc"
                    :rules="ruleRoomMaxXcreate"
                    type="number"
                    outlined
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="py-0"
                >
                  <v-text-field
                    v-model="roomCreate.maxY"
                    :rules="ruleRoomMaxYcreate"
                    label="Chiều ngang"
                    type="number"
                    outlined
                    dense
                    required
                  ></v-text-field>
                </v-col>              
              </v-row>
            </v-form>
            <v-row>
              <v-col cols="2" class="pb-0">Hình ảnh</v-col>
              <v-col class="pb-0">
                <div class="image-room">
                  <img 
                    v-if="isLoadingUploadCreate"
                    :src="require(`~/assets/img/giphy.gif`)"
                    class="img-review"
                  />
                  <img v-else v-lazy="previewImgCreate" class="avatar-preview"/>
                  <input
                    id="upload-file-create"
                    type="file"
                    :accept="acceptType"
                    class="input-upload"
                    @change="selectFileCreate"
                  />
                  <label for="upload-file-create">
                    <v-chip color="primary" class="btn-upload">
                      <v-icon size="20"> mdi-camera </v-icon>
                    </v-chip>
                  </label>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialogCreate = false"
          >
            Huỷ
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            :loading="isLoadingUploadCreate"
            @click="createRoom"
          >
            Tạo
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogConfirmChangeSizeRoom"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="text-h5">
          Xác nhận
        </v-card-title>
        <v-card-text v-if="maxWidth > roomItem.maxX || maxHeigh > roomItem.maxY">Bạn có thực sự muốn thay đổi cấu trúc phòng không?</v-card-text>
        <v-card-text v-else>Sự thay đổi này ảnh hưởng đến vị trí đã đặt máy. Nếu tiếp tục vị trí máy cả phòng sẽ bị làm mới, bạn sẽ phải đặt lại máy vào các vị trí. Bạn có chắc muốn tiếp tục không?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="dialogConfirmChangeSizeRoom = false"
          >
            Không
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="changeSizeRoom"
          >
            Có
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogMesCreateHardware"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="text-h5">
          Thông báo
        </v-card-title>
        <v-card-text class="text-center">Chưa có cấu hình máy. Tạo cấu hình máy để tiếp tục!</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="dialogMesCreateHardware = false"
          >
            Đóng
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="$router.push('/admin-cyber/hardware')"
          >
            Thêm cấu hình
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogError"
      width="700"
      dark
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/Error.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4 text-center">
          Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="dialogError = false">
          Ok
        </v-btn>
      </div>        
    </v-dialog>
  </div>
</template>

<script>
import { SLOT_STATUS } from '~/enums/roleUser'
export default {
  async asyncData(content) {
    let listHardware = {
      nameHardware: '',
      id: 0
    }
    let listRoom
    let cyberId
    try {
      const dataCyber = await content.store.$api.cyberInfor.getMyCyber()
      const { data } = await content.store.$api.room.getListRoomByCyberId(0, 999, dataCyber?.data.data.id)
      const dataHardware = await content.store.$api.setUpHardware.getHardwaresByCyberId(dataCyber?.data.data.id)
      cyberId = dataCyber.data.data.id
      listHardware = dataHardware.data.data
      listRoom = data
    } catch (error) {
      content.redirect('/login');
    }

    return {
      listRoom,
      cyberId,
      listHardware,
    }
  },
  data() {
    return {
      SLOT_STATUS,
      dialog: false,
      tab: null,
      roomItem: {
        cyberId: -1,
        hardwareConfigId: -1,
        id: -1,
        maxX: 0,
        maxY: 0,
        priceRoom: -1,
        roomName: '',
        roomPosition: '',
        roomType: '',
        isUpdate: -1,
        roomImage: "QmXnyKZHjPSdJNQGNfx2uUc4ykxfH8L4MhqSCAXRtgZwF3"
      },
      items: ['Thông Tin', 'Cài Đặt Sơ Đồ'],
      acceptType: 'image/png, image/jpeg, image/gif',
      slots: [],
      maxWidth: 0,
      maxHeigh: 0,
      maxWidthRules: [
        v => !!v || 'Tối thiểu 1',
        v => v > 0 || 'Tối thiểu 1',
        v => v <= 20 || 'Tối đa 20'
      ],
      maxHeightRules: [
        v => !!v || 'Tối thiểu 1',
        v => v > 0 || 'Tối thiểu 1',
        v => v <= 20 || 'Tối đa 20'
      ],
      isChangeStatus: -1,
      previewImg: 'https://cdn.vuetifyjs.com/images/parallax/material2.jpg',
      previewImgCreate: 'https://cdn.vuetifyjs.com/images/parallax/material2.jpg',
      isLoadingUpload: false,
      isLoadingUploadCreate: false,
      typeStatusSelect: 0,
      itemsHandle: ['Đặt máy', 'Gỡ máy', 'Rảnh', 'Bận', 'Bảo trì'],
      dialogCreate: false,
      previewImgDefault: 'https://cdn.vuetifyjs.com/images/parallax/material2.jpg',
      roomCreate: {
        cyberId: null,
        roomName: '',
        roomTypeName: '',
        roomPosition: '',
        maxX: null,
        maxY: null,
        priceRoom: null,
        hardwareConfigId: -1,
        roomImage: 'QmXnyKZHjPSdJNQGNfx2uUc4ykxfH8L4MhqSCAXRtgZwF3'
      },
      ruleRoomName: [
        (v) => !!v || 'Bạn chưa nhập tên phòng',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      ruleRoomPrice: [
        (v) => !!v || 'Bạn chưa nhập giá tiền',
      ],
      ruleRoomPosition: [
        (v) => !!v || 'Bạn chưa nhập vị trí phòng',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      ruleRoomNameCreate: [
        (v) => !!v || 'Bạn chưa nhập tên phòng',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      ruleRoomTypeCreate: [
        (v) => !!v || 'Bạn chưa nhập loại phòng',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      ruleRoomPriceCreate: [
        (v) => !!v || 'Bạn chưa nhập giá tiền',
      ],
      ruleRoomPositionCreate: [
        (v) => !!v || 'Bạn chưa nhập vị trí phòng',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      ruleRoomMaxYcreate: [
        (v) => !!v || 'Bạn chưa nhập chiều dọc phòng',
        v => v > 0 || 'Tối thiểu 1',
        v => v <= 20 || 'Tối đa 20'
      ],
      ruleRoomMaxXcreate: [
        (v) => !!v || 'Bạn chưa nhập chiều ngang phòng',
        v => v > 0 || 'Tối thiểu 1',
        v => v <= 20 || 'Tối đa 20'
      ],
      ruleRoomHardwarecreate: [
        (v) => !!v || 'Bạn chưa chọn cấu hình phòng',
        (v) => v !== -1 || 'Bạn chưa chọn cấu hình phòng',
      ],
      hasPicked: 0,
      listSlotPicked: [],
      reloadComponent: 0,
      componentResetSizeRoom: 100,
      dialogConfirmChangeSizeRoom: false,
      isChangeSize: false,
      dialogMesCreateHardware: false,
      typeAlert: 'success',
      showAlert: false,
      alertMes: '',
      dialogError: false,
    }
  },
  watch: {
    maxWidth (newValue, oldValue) {
      if (newValue) {
        if (parseInt(newValue) > 20) {
          this.maxWidth = newValue
        } else {
          this.maxWidth = parseInt(newValue)
        }
      } else {
         this.maxWidth = parseInt(oldValue)
      }
    },
    maxHeigh (newValue, oldValue) {
      if (newValue) {
        if (parseInt(newValue) > 20) {
          this.maxHeigh = newValue
        } else {
          this.maxHeigh = parseInt(newValue)
        }
      } else {
         this.maxHeigh = parseInt(oldValue)
      }
    },
    showAlert (newValue, oldValue) {
      if(newValue)
      setInterval(() => {
        this.showAlert = false
        this.alertMes = ''
      }, 5000);
    }
  },
  methods: {
    forceRerender() {
      this.reloadComponent += 1
    },
    forceRerenderSizeRoom() {
      this.componentResetSizeRoom += 1
    },
    async handleSelectRoom(room) {
      try {
        this.dialog = true
        this.roomItem = room
        this.previewImg = this.$getIpfs(room.roomImage)
        this.maxWidth = room.maxX
        this.maxHeigh = room.maxY
        const { data } = await this.$api.slots.getListSlotByRoom(room.roomId)
        this.slots = data.data || []
      } catch (error) {
        console.log(error);
      }
    },
    async updateInforRoom() {
      if (this.$refs.editInfoRoomForm.validate()) {
        try {
            await this.$api.room.editRoomInfor(this.roomItem)
            this.alertMes = 'Cập nhật thông tin phòng máy thành công!'
            this.showAlert = true
        } catch (error) {
          console.log(error)
          this.dialogError = true
        }
      }
    },
    getPositionHasCom(x, y){
      let itemSelect = {
        id: -1,
        statusId: -1,
        roomId: -1
      }
      this.slots.forEach((item) => {
        if(item.slotPositionX === x && item.slotPositionY === y) {
          itemSelect = item
        }
        itemSelect.roomId = item.roomId
      });
      return itemSelect
    },
    getStatusSlot(x, y) {
      let status = -1
      this.slots.forEach((item) => {
        if(item.slotPositionX === x && item.slotPositionY === y) {
          status = item.statusId
        }
      });
      switch (status) {
        case -1:
          return 'empty-status'
        case SLOT_STATUS.BUSY:
          return 'busy-status'
        case SLOT_STATUS.FREE:
          return 'free-status'
        case SLOT_STATUS.MAINTENANCE:
          return 'maintain-status'
        case SLOT_STATUS.BOOKED:
          return 'booked-status'
        case SLOT_STATUS.UNLOAD:
        return 'empty-status'
      }
    },
    createNewCom(roomId, x, y) {
      this.$refs[`com-`+x+`-`+y][0].$el.classList.remove('empty-status')
      this.$refs[`com-`+x+`-`+y][0].$el.classList.add('free-status')
      this.roomItem.isUpdate = 27
    },
    async selectFile(e) {
      if(!this.isLoadingUpload) {
        try {
          this.isLoadingUpload = true
          const data1 = await this.$pinFileToIPFS(e.target.files[0]) // https://defiforyou.mypinata.cloud/ipfs/
          this.previewImg = URL.createObjectURL(e.target.files[0])
          this.roomItem.roomImage = data1.data.IpfsHash
          this.isLoadingUpload = false          
        } catch (error) {
          console.log(error);
        }
      }
    },
    async selectFileCreate (e) {
      if(!this.isLoadingUploadCreate) {
        try {
          this.isLoadingUploadCreate = true
          const data1 = await this.$pinFileToIPFS(e.target.files[0]) // https://defiforyou.mypinata.cloud/ipfs/
          this.previewImgCreate = URL.createObjectURL(e.target.files[0])
          this.roomCreate.roomImage = data1.data.IpfsHash
          this.isLoadingUploadCreate = false          
        } catch (error) {
          console.log(error);
        }
      }
    },
    selectCom (slot, x, y, number) {
      const DOMSlotId = `com-`+x+`-`+y
      // console.log(DOMSlotId, slot.id, this.cyberId, this.roomItem.roomId, x, y, 'cyberId, roomId, x, y');
      const itemPicked = {
        id: DOMSlotId,
        slotId: slot.id,
        cyberId: this.cyberId,
        roomId: this.roomItem.roomId,
        slotPositionX: x,
        slotPositionY: y,
        slotName: "Máy " + number,
        slotDescription: "string",
      }
      const isPicked = this.$refs[`com-`+x+`-`+y][0].$el.classList.contains('select-status')
      if (this.typeStatusSelect === slot.statusId || this.typeStatusSelect === 0) {
        if (!isPicked) {
          this.hasPicked++
          this.$refs[`com-`+x+`-`+y][0].$el.classList.add('select-status')
          this.typeStatusSelect = slot.statusId
          this.listSlotPicked.push(itemPicked)
        }
        else {
          this.hasPicked--
          this.$refs[`com-`+x+`-`+y][0].$el.classList.remove('select-status')
          this.listSlotPicked = this.listSlotPicked.filter(value => value.id !== DOMSlotId);
        }
      } else {
        this.typeStatusSelect = 0
        this.listSlotPicked = []
        this.resetPicked()
        if (!isPicked) {
          this.hasPicked++
          this.$refs[`com-`+x+`-`+y][0].$el.classList.add('select-status')
          this.typeStatusSelect = slot.statusId
          this.listSlotPicked.push(itemPicked)
        }
        else {
          this.hasPicked--
          this.$refs[`com-`+x+`-`+y][0].$el.classList.remove('select-status')
          this.listSlotPicked = this.listSlotPicked.filter(value => value.id !== DOMSlotId);
        }
      }
    },

    resetPicked() {
      this.hasPicked = 0
      const classPicked = document.querySelector(".computer-contain").querySelectorAll('.select-status')
      classPicked.forEach(item => {
        item.classList.remove('select-status')
      });
    },
    async createRoom () {
      if (this.$refs.createRoomForm.validate()) {
        try {
          this.roomCreate.cyberId = this.cyberId
          await this.$api.room.createNewRoom(this.roomCreate)
          const dataListRoom = await this.$api.room.getListRoomByCyberId(0, 999, this.cyberId)
          this.listRoom = dataListRoom.data        
          this.dialogCreate = false
          this.roomCreate = {
            cyberId: null,
            roomName: '',
            roomTypeName: '',
            roomPosition: '',
            maxX: null,
            maxY: null,
            priceRoom: null,
            hardwareConfigId: -1,
            roomImage: 'QmXnyKZHjPSdJNQGNfx2uUc4ykxfH8L4MhqSCAXRtgZwF3'
          }
          this.forceRerenderSizeRoom()
          this.alertMes = 'Tạo phòng máy thành công!'
          this.showAlert = true
        } catch (error) {
          console.log(error);
          this.dialogError = true
        }
      }
    },
    async deleteRom (id) {
      try {
        await this.$api.room.removeRoom(id)
        const dataListRoom = await this.$api.room.getListRoomByCyberId(0, 999, this.cyberId)
        this.listRoom = dataListRoom.data  
        this.forceRerenderSizeRoom()
        this.alertMes = 'Xoá phòng máy thành công!'
        this.showAlert = true
      } catch (error) {
        console.log(error);
        this.dialogError = true
      }
    },
    async createNewSlot () {
      try {
        for (let index = 0; index < this.listSlotPicked.length; index++) {
            await this.$api.slots.createNewSlot(this.listSlotPicked[index])        
        }
        const dataSlot = await this.$api.slots.getListSlotByRoom(this.roomItem.roomId)
        this.slots = dataSlot.data.data || []
        this.listSlotPicked = []
        this.forceRerender()
        this.alertMes = 'Đặt máy thành công!'
        this.showAlert = true
      } catch (error) {
        console.log(error);
        this.dialogError = true
      }
    },
    async removeSlot () {
      try {
        for (let index = 0; index < this.listSlotPicked.length; index++) {
            await this.$api.slots.removeSlot(this.listSlotPicked[index].slotId)        
        }
        const dataSlot = await this.$api.slots.getListSlotByRoom(this.roomItem.roomId)
        this.slots = dataSlot.data.data || []
        this.listSlotPicked = []
        this.forceRerender()
        this.alertMes = 'Gỡ máy thành công!'
        this.showAlert = true
      } catch (error) {
        console.log(error);
        this.dialogError = true
      }
    },
    async changeStatusSlot (type) {
      try {    
        for (let index = 0; index < this.listSlotPicked.length; index++) {
          await this.$api.slots.editStatusSlot(this.listSlotPicked[index].slotId, type)
        }
        const dataSlot = await this.$api.slots.getListSlotByRoom(this.roomItem.roomId)
        this.slots = dataSlot.data.data || []
        this.listSlotPicked = []
        this.forceRerender()
        this.alertMes = 'Thay đổi trạng thái máy thành công!'
        this.showAlert = true
      } catch (error) {
        console.log(error);
        this.dialogError = true
      }
    },
    editSizeRoom () {
      // console.log(this.maxWidth, this.maxHeigh, this.roomItem.maxX, this.roomItem.maxY, 'cx');
      if (this.$refs.editSizeRoomForm.validate()) {
        this.dialogConfirmChangeSizeRoom = true
      }
    },
    async changeSizeRoom () {
      try {
        if (this.maxWidth > this.roomItem.maxX || this.maxHeigh > this.roomItem.maxY) {
          await this.$api.room.editSizeRoom(this.roomItem.roomId, this.maxWidth, this.maxHeigh)
        } else {
          await this.$api.room.editRoomAllow(this.roomItem.roomId, this.maxWidth, this.maxHeigh)
        }
        const { data } = await this.$api.room.getListRoomByCyberId(0, 999, this.cyberId)
        this.listRoom = data
        this.forceRerenderSizeRoom()
        this.dialog = false
        this.dialogConfirmChangeSizeRoom = false
        this.alertMes = 'Thay đổi kích thước phòng thành công!'
        this.showAlert = true
      } catch (error) {
        console.log(error);
        this.dialogError = true
      }
    },
    showPopupCreateRoom () {
      if (this.listHardware) {
        this.dialogCreate = true
      } else {
        this.dialogMesCreateHardware = true
      }
    },
    clearData () {
      this.maxWidth = this.roomItem.maxX
      this.maxHeigh = this.roomItem.maxY
    },
    async closeDialog () {
      try {
        this.dialog = false
        const { data } = await this.$api.room.getListRoomByCyberId(0, 999, this.cyberId)
        this.listRoom = data
        this.forceRerenderSizeRoom()
      } catch (error) {
        this.dialog = false
      }

    }
  },
}
</script>

<style lang="scss" scoped>
.room-container {
  background: #f4f4f4;
  height: 100%;
  .contain {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 32px;
    .pn-list-room {
      font-weight: 600;
      font-size: 24px;
      color: #797979;
    }
    .btn-add-room {
      font-weight: 600;
      // font-size: 24px;
      color: #fff;
    }
    .table-header {
      background: #255cc2;
      color: #fff;
      border-radius: 10px;
    }
    .table-row {
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
  }
}
.tab1-right {
  .computer-contain {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    overflow: auto;
    height: 593px;
    width: 100%;
    .computer-number {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .size-normar {
    justify-content: center;
  }
  .size-md-down {
    justify-content: flex-start;
  }
}
.com-popup {
  box-shadow: 0 0 8px rgba(135, 135, 135, 0.22);
  border-radius: 5px;
  .item-popup {
    font-size: 14px;
  }
}
.txt-size-img {
  font-size: 14px;
  color: #797979;
}
.form-input {
  padding-top: 26px;
  border: 1px solid #e6e4eb;
  border-radius: 4px;
  margin: 0;
}
.map-room {
  border: 1px solid #e6e4eb;
  border-radius: 4px;
  .computer-contain {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    overflow: auto;
    height: 593px;
    width: 100%;
    .computer-number {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .size-normar {
    justify-content: center;
  }
  .size-md-down {
    justify-content: flex-start;
  }
}
.icon-right {
  font-size: 16px;
  position: absolute;
  right: 16px;
}
.image-room {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  .input-upload {
    display: none;
  }
  .btn-upload {
    position: absolute;
    bottom: 16px;
    right: 24px;
    cursor: pointer;
  }
  .img-review {
    max-width: 100%;
    max-height: 100%;
  }
}
.status-com {
  display: inline-flex;
}
.busy-status {
  color: #1867c0;
  font-size: 60px
}
.free-status {
  color: #4ADE80;
  font-size: 60px
}
.maintain-status {
  color: #ff5252;
  font-size: 60px
}
.booked-status {
  color: #fb8c00;
  font-size: 60px
}
.empty-status {
  font-size: 60px
}
.avatar-preview {
  max-width: 100%;
  max-height: 100%;
}
.select-status {
  color: #fff;
  background: gold;
  font-size: 60px
}
.alert-mes {
  position: fixed;
  right: 10px;
  top: 70px;
  z-index: 999;
}
.dialog-message {
  background: rgb(61, 65, 75);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
</style>
