<template>
  <div class="">
    <v-app-bar fixed app color="#10375C">
      <v-container>
        <v-col>
          <v-row>
            <img :src="require(`~/assets/img/logo-admin.png`)" class="mr-16" />
            <div class="menu-header ml-16">
              <v-row align="center">
                <v-col
                  style="cursor: pointer"
                  class="text-center"
                  @click="$router.push('/')"
                  ><span>Trang chủ</span></v-col
                >
                <v-col
                  style="cursor: pointer"
                  class="text-center active-menu"
                  @click="$router.push('/cyber-list?pageIndex=0&pageSize=9&searchContent')"
                  >Quán game</v-col
                >
                <v-col 
                  style="cursor: pointer" 
                  class="text-center"
                  @click="$router.push('/about-us')"
                >
                  Về chúng tôi
                </v-col>
              </v-row>
            </div>
            <div v-if="userInfo">
              <v-menu bottom min-width="200px" rounded offset-y>
                <template #activator="{ on }">
                  <v-btn icon x-large v-on="on">
                    <v-avatar size="40">
                      <img v-lazy="$getIpfs(userInfo.image)" />
                    </v-avatar>
                  </v-btn>
                </template>
                <v-card>
                  <v-list-item-content class="justify-center">
                    <div class="mx-auto text-center">
                      <v-avatar size="40">
                        <img v-lazy="$getIpfs(userInfo.image)" />
                      </v-avatar>
                      <h3>{{ userInfo.fullname }}</h3>
                      <p class="text-caption mt-1">
                        {{ userInfo.email }}
                      </p>
                      <v-divider class="my-3"></v-divider>
                      <v-btn depressed rounded text @click="$router.push('/profile')"> Hồ sơ </v-btn>
                      <v-divider class="my-3"></v-divider>
                      <v-btn depressed rounded text @click="$auth.logout()">
                        Đăng xuất
                      </v-btn>
                    </div>
                  </v-list-item-content>
                </v-card>
              </v-menu>
            </div>
            <v-btn v-else dark class="mt-2" color="#FF5722" @click="$router.push('/login')">Đăng nhập</v-btn>
          </v-row>
        </v-col>
      </v-container>
    </v-app-bar>
    <div v-if="cyberDetail">
      <img v-lazy="$getIpfs(cyberDetail.image)" class="img-banner" /> 
      <div class="contain-cyber-detail px-12">
        <span class="cyber-name">{{cyberDetail.cyberName}}</span>
        <v-row class="cyber-info mb-2">
          <v-col cols="7"><v-icon class="mr-1 cl-black" right> mdi-home </v-icon>{{cyberDetail.address}}</v-col>
          <v-col><v-icon class="mr-1 cl-black" right> mdi-monitor-cellphone </v-icon>
            {{cyberDetail.slotReady}} Chỗ trống</v-col>
          <v-col><v-icon class="mr-1 cl-black" right> mdi-phone </v-icon>
            {{cyberDetail.phoneNumber}}</v-col>
        </v-row>
        <span>{{cyberDetail.cyberDescription}}</span
        >
      </div>
    </div>
    <v-container v-if="roomDetail">
      <div class="cyber-item my-4">
        <img v-lazy="$getIpfs(roomDetail.roomImage)" class="img-cyber" />
        <div class="contain-right px-12">
          <div class="cyber-item-info">
            <span class="cyber-name">{{roomDetail.roomName}}</span>
          </div>
          <div>
            <v-row>
              <v-col>
                <v-icon class="cl-black mr-1" right>
                  mdi-monitor-cellphone
                </v-icon>
                <span class="cyber-info-detail">{{roomDetail.slotReadyInRoom}} chỗ trống</span>
              </v-col>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-cpu-64-bit </v-icon>
                <span class="cyber-info-detail">{{roomDetail.gpu}}</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-floor-plan </v-icon>
                <span class="cyber-info-detail">{{roomDetail.roomPosition}} / {{roomDetail.roomName}}</span>
              </v-col>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-chip </v-icon>
                <span class="cyber-info-detail">{{roomDetail.ram}}</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-door </v-icon>
                <span class="cyber-info-detail">{{roomDetail.roomTypeName}}</span>
              </v-col>
              <v-col>
                <v-icon class="cl-black mr-1" right> mdi-monitor </v-icon>
                <span class="cyber-info-detail">{{roomDetail.monitor}}</span>
              </v-col>
            </v-row>
          </div>
          <div class="detail-booking">
            <span class="price">{{roomDetail.priceRoom}} vnđ/giờ</span>
          </div>
        </div>
      </div>

      <div class="room-plan px-12 py-6">
        <v-row align="center">
          <v-col cols="10">
            <div class="status-com">
              <div class="mr-5">
                <v-icon style="font-size: 30px; color: #1867c0">
                  mdi-monitor
                </v-icon>
                : Đang sử dụng
              </div>
              <div class="mr-5">
                <v-icon style="font-size: 30px; color: #4ADE80">
                  mdi-monitor
                </v-icon>
                : Có thể đặt
              </div>
              <div class="mr-5">
                <v-icon style="font-size: 30px; color: #ff5252">
                  mdi-monitor
                </v-icon>
                : Bảo trì
              </div>
              <div class="mr-5">
                <v-icon style="font-size: 30px; color: #fb8c00">
                  mdi-monitor
                </v-icon>
                : Đang được đặt
              </div>
              <div class="mr-5">
                <v-icon style="font-size: 30px; color: #fff; background: gold;">
                  mdi-monitor
                </v-icon>
                : Đang chọn
              </div>
            </div>
          </v-col>
          <v-col class="text-right">
            <v-btn v-if="$auth.loggedIn" :disabled="hasPicked == 0" class="btn-booking" @click="showPopupConfirm">ĐẶT CHỖ</v-btn>
            <nuxt-link v-else to="/login">Đăng nhập để đặt chỗ</nuxt-link>
          </v-col>
        </v-row>
        <v-row style="position: relative;">
          <v-col class="text-center">
            <span class="txt-title-room">Sơ Đồ {{roomDetail.roomName}}</span>
          </v-col>
          <v-btn
            v-if="hasPicked > 0"
            fab
            dark
            small
            color="green"
            class="btn-reset"
            @click="resetPicked"
          >
            <v-icon>mdi-cached</v-icon>
          </v-btn>
        </v-row>
        <v-row :key="reloadComponent">
          <v-col>
            <div v-if="$vuetify.breakpoint.lgAndDown && roomDetail.maxX > 14" class="computer-contain size-md-down">
              <div
                v-for="i in roomDetail.maxX"
                :key="i"
                class="computer-number mb-8"
              >
                <div
                  v-for="j in roomDetail.maxY"
                  :key="j"
                  class="computer-number mb-8"
                  style="height: 60px"
                >
                  <v-icon 
                    :ref="`com-`+i+`-`+j" 
                    :class="getStatusSlot(i, j)" 
                    class="mx-3"
                    @click="selectCom(getPositionHasCom(i, j), i, j)"
                  >
                    mdi-monitor
                  </v-icon>
                  {{getPositionHasCom(i, j).slotName}}
                </div>
              </div>
            </div>
            <div v-else ref="comContain" class="computer-contain size-normar">
              <div
                v-for="i in roomDetail.maxX"
                :key="i"
                class="computer-number mb-8"
              >
                <div
                  v-for="j in roomDetail.maxY"
                  :key="j"
                  class="computer-number mb-8"
                  style="height: 60px"
                >
                  <v-icon 
                    :ref="`com-`+i+`-`+j" 
                    :class="getStatusSlot(i, j)" 
                    class="mx-3"
                    @click="selectCom(getPositionHasCom(i, j), i, j)"
                  >
                    mdi-monitor
                  </v-icon>
                  {{getPositionHasCom(i, j).slotName}}
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </div>
    </v-container>
    <v-dialog
      v-model="dialog"
      transition="dialog-bottom-transition"
      max-width="600"
    >
      <v-card>
        <v-toolbar color="primary" dark>
          <h3 class="header-popup-booking">
            {{cyberDetail.cyberName}}<br />
            <span class="text-subtitle-2">{{roomDetail.roomName}}</span>
          </h3>
        </v-toolbar>
        <v-card-text class="py-5">
          <h3 class="py-3">Thời gian đặt: {{dateShow}} - {{dateShowEnd}}</h3>
          <h3 class="py-3">Bạn đã chọn: {{slotName}}</h3>
          <h3 class="py-3">Giá: {{roomDetail.priceRoom}}VND/Giờ/Máy</h3>
        </v-card-text>
        <v-card-actions class="justify-space-around">
          <v-btn text @click="dialog = false">HUỶ</v-btn>
          <v-btn class="btn-confirm" dark text @click="handleConfirmBook"
            >XÁC NHẬN ĐẶT CHỖ</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogSuccess"
      transition="dialog-bottom-transition"
      max-width="600"
    >
      <v-card>
        <v-toolbar color="primary" dark>
          <h3 class="header-popup-booking">
            {{cyberDetail.cyberName}}<br />
            <span class="text-subtitle-2">{{roomDetail.roomName}}</span>
          </h3>
        </v-toolbar>
        <v-card-text class="pt-4">
          <h3 class="py-1">Thời gian đặt: {{dateShow}} - {{dateShowEnd}}</h3>
          <h3 class="py-1">Bạn đã chọn: {{slotName}}</h3>
          <h3 class="booking-info py-1">Giá: {{roomDetail.priceRoom}}vnđ / Giờ/ Máy</h3>
        </v-card-text>
        <v-container>
          <v-row>
            <v-col class="txt-cf text-center">BẠN ĐÃ ĐẶT CHỖ</v-col>
          </v-row>
          <v-row>
            <v-col class="txt-success text-center">THÀNH CÔNG</v-col>
          </v-row>
          <v-row>
            <v-col class="text-center">
              "Vui lòng đến đúng giờ, muộn quá 30p máy của bạn sẽ bị huỷ."
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogError"
      width="700"
      dark
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/Error.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4 text-center">
          {{ messageError }}
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="closePopupError">
          Ok
        </v-btn>
      </div>        
    </v-dialog>
  </div>
</template>
<script>
import { SLOT_STATUS } from '~/enums/roleUser'
export default {
  layout: 'new-layout',
  middleware: ['user'],
  async asyncData(content) {
    let roomDetail = {
      roomImage: '',
      roomName: '',
      slotReadyInRoom: '',
      gpu: '',
      roomPosition: '',
      ram: '',
      roomTypeName: '',
      monitor: '',
      priceRoom: '',
      maxX: '',
      maxY: '',
    }
    let cyberDetail = {
      image: '',
      cyberName: '',
      address: '',
      slotReady: '',
      phoneNumber: '',
      cyberDescription: '',
    }
    let slots = {
      slotPositionX: '',
      slotPositionY: '',
    }
    try {
      const roomDetailResponse = await content.store.$api.room.getRoomById(content.query.id)
      const cyberDetailResponse = await content.store.$api.search.getCyberById(content.query.cyberId)
      const slotsResponse = await content.store.$api.slots.getListSlotByRoom(content.query.id)
      roomDetail =  roomDetailResponse.data.data
      cyberDetail =  cyberDetailResponse.data.data
      slots =  slotsResponse.data.data
    } catch (error) {    
      content.redirect('/login');
    }
    return {
      roomDetail,
      cyberDetail,
      slots,
      cyberId: content.query.cyberId,
      roomId: content.query.id
    }
  },
  data() {
    return {
      SLOT_STATUS,
      dialog: false,
      dialogSuccess: false,
      hasPicked: 0,
      dataOrder: {
        startAt: "2021-12-04T16:42:20.154Z",
        endAt: "2021-12-04T16:42:20.154Z",
        cyberId: -1,
        listSlotsOrder: []
      },
      reloadComponent: 0,
      slotName: '',
      dateShow: new Date(Date.now()).toLocaleString(),
      dateShowEnd: new Date(Date.now() + 30*60000).toLocaleString(),
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString(),
      menu: false,
      modal: false,
      time: null,
      menu2: false,
      ruleDate: [
        v => !!v || 'Hãy chọn ngày'
      ],
      ruleTime: [
        v => !!v || 'Hãy chọn giờ'
      ],
      dialogError: false,
      messageError: 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!',
      userInfo: this.$auth.user
    }
  },
  methods: {
    forceRerender() {
      this.reloadComponent += 1
    },
    async handleConfirmBook () {
      try {
        this.dataOrder.startAt = this.date
        this.dataOrder.endAt = this.date
        this.dataOrder.cyberId = this.cyberId          
        // console.log(JSON.stringify(this.dataOrder), 'x');      
        await this.$api.bookingManage.createNewOrder(this.dataOrder)
        const dataSlot = await this.$api.slots.getListSlotByRoom(this.roomId)
        this.slots = dataSlot.data.data
        this.forceRerender()
        this.resetPicked()
        this.dialog = false
        this.dialogSuccess = true
      } catch (error) {
        if(error.response.data.message === "You can't create new Order when has another Order") {
          this.messageError = 'Bạn đã thực hiện đặt máy tại quán rồi!'
        }
        this.dialogError = true
      }
    },
    getPositionHasCom(x, y){
      let itemSelect = {
        id: -1,
        statusId: -1,
        roomId: -1
      }
      if(this.slots) {
        this.slots.forEach((item) => {
          if(item.slotPositionX === x && item.slotPositionY === y) {
            itemSelect = item
          }
          itemSelect.roomId = item.roomId
        });
      }
      return itemSelect
    },
    getStatusSlot(x, y) {
      let status = -1
      if(this.slots) {
        this.slots.forEach((item) => {
          if(item.slotPositionX === x && item.slotPositionY === y) {
            status = item.statusId
          }
        });
      }
      switch (status) {
        case -1:
          return 'empty-status'
        case SLOT_STATUS.BUSY:
          return 'busy-status'
        case SLOT_STATUS.FREE:
          return 'free-status'
        case SLOT_STATUS.MAINTENANCE:
          return 'maintain-status'
        case SLOT_STATUS.BOOKED:
          return 'booked-status'
      }
    },
    selectCom(slot, x, y) {
      const isPicked = this.$refs[`com-`+x+`-`+y][0].$el.classList.contains('select-status')
      if (slot.statusId === SLOT_STATUS.FREE) {
        if (!isPicked) {
          this.hasPicked++
          this.$refs[`com-`+x+`-`+y][0].$el.classList.replace('free-status', 'select-status')
          this.dataOrder.listSlotsOrder.push({slotId: slot.id, slotName: slot.slotName})
        }
        else {
          this.hasPicked--
          this.$refs[`com-`+x+`-`+y][0].$el.classList.replace('select-status', 'free-status')
          this.dataOrder.listSlotsOrder = this.dataOrder.listSlotsOrder.filter(value => value.slotId !== slot.id);
        }
        // console.log(JSON.stringify(this.dataOrder.listSlotsOrder), 'raas');
      }
    },
    resetPicked() {
      this.hasPicked = 0
      this.slotName = ''
      this.dataOrder.listSlotsOrder = []
      const classPicked = document.querySelector(".computer-contain").querySelectorAll('.select-status')
      classPicked.forEach(item => {
        item.classList.remove('select-status')
        item.classList.add('free-status')
      });
    },
    showPopupConfirm() {
      this.dateShow = new Date(Date.now()).toLocaleString()
      this.dateShowEnd = new Date(Date.now() + 30*60000).toLocaleString()
      this.date = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString()
      this.dialog = true
      const newArray = 
        this.dataOrder.listSlotsOrder.sort(function(a, b) { 
          return a.slotId - b.slotId ;
        });
      this.slotName = newArray[0].slotName
      for (let index = 1; index < newArray.length; index++) {
        this.slotName += ', ' + newArray[index].slotName;        
      }
    },
    closePopupError () {
      this.dialogError = false
      this.messageError = 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!'
    }
  }
}
</script>
<style lang="scss" scoped>
.img-banner {
  width: 100%;
  height: 465px;
}

.contain-cyber-detail {
  background: #ff57221c;
  padding: 20px 0;
  width: 100%;
  .cyber-name {
    font-size: 40px;
    font-weight: bold;
  }
  .cyber-info {
    color: #777;
  }
}
.cl-black {
  color: #000;
}
.cyber-item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);

  .contain-right {
    width: 100%;
    .cyber-item-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .cyber-name {
        color: #33344f;
        font-size: 24px;
        font-weight: 500;
      }
      .cyber-info-detail {
        color: #777;
        font-weight: 500;
      }
    }
    .detail-booking {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      .price {
        color: #191d23;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
.room-plan {
  border: 1px solid #e6e4eb;
  box-sizing: border-box;
  border-radius: 4px;
  .btn-booking {
    background: #ff5722;
    color: #fff;
  }
  .txt-title-room {
    font-weight: 600;
    font-size: 30px;
  }
  .computer-contain {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    overflow: auto;
    height: 593px;
    width: 100%;
    .computer-number {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .size-normar {
    justify-content: center;
  }
  .size-md-down {
    justify-content: flex-start;
  }
  .note {
    .type {
      display: flex;
      align-items: center;
      .icon-selected {
        width: 40px;
      }
      .icon-busy {
        width: 40px;
      }
      .icon-free {
        width: 40px;
      }
    }
  }
}
.header-popup-booking {
  width: 100%;
  text-align: center;
}
.btn-confirm {
  background: #ff5722;
}
.booking-info {
  border-bottom: 2px solid #00CD15;
}
.txt-cf {
  font-size: 22px;
  font-weight: 600;
}
.txt-success {
  font-size: 40px;
  color: #00CD15;
  font-weight: 600;
}
.status-com {
  display: inline-flex;
}
.busy-status {
  color: #1867c0;
  font-size: 60px
}
.free-status {
  color: #4ADE80;
  font-size: 60px
}
.maintain-status {
  color: #ff5252;
  font-size: 60px
}
.booked-status {
  color: #fb8c00;
  font-size: 60px
}
.empty-status {
  font-size: 60px;
  display: none;
}
.select-status {
  color: #fff;
  background: gold;
  font-size: 60px
}
.img-cyber{
  min-width: 384px;
  height: 268px;
}
.btn-reset {
  position: absolute;
  top: 17px;
  right: 12px;
}
.dialog-message {
  background: rgb(61, 65, 75);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
.menu-header {
  margin: auto;
  width: 400px;
  font-weight: 500;
  color: #fff !important;
}

.active-menu {
  color: #ff5722;
  border-bottom: 2px solid;
  padding: 6px 0;
}
.send-field {
  opacity: 20%;
}
.large-text {
  color: white;
  font-weight: 500;
  height: 40px;
  padding-top: 3px;
  font-size: 25px;
}
</style>
