<template>
  <v-container>
    <div v-if="step1" class="login-form pa-9">
      <h1 class="text-center">Khôi Phục Mật Khẩu</h1>
      <h5 class="mb-6 text-center">Chúng tôi sẽ gửi một mã xác nhận tới email đăng nhập của bạn để khôi phục mật khẩu.</h5>
      <v-form ref="form1">
        <div>
          <v-text-field
            v-model="email"
            outlined
            :rules="ruleEmail"
            required
            type="text"
            rounded
            placeholder="Nhập email"
            label="Nhập email"
            class="login-input"
          />
          <v-btn block dark x-large color="#FF5722" :loading="loadingLogin" @click="sendCode">Gửi mã xác nhận</v-btn>
          <v-divider color="#e6e4eb" class="my-5"/>
          <v-btn block outlined class="mb-4" color="#FF5722" @click="$router.push('/login')">Đăng nhập</v-btn>
          <v-btn block dark x-large color="#00CD15" @click="register()">Tạo tài khoản mới</v-btn>
        </div>
      </v-form>
    </div>
    <div v-else class="login-form pa-9">
      <h1 class="text-center">Khôi Phục Mật Khẩu</h1>
      <h5 class="mb-6 text-center">Vui lòng nhập mã xác nhận và mật khẩu mới.</h5>
      <v-form ref="form2">
        <div>
          <v-text-field
            v-model="emailSecond"
            outlined
            :rules="ruleEmailSecond"
            required
            type="text"
            rounded
            label="Nhập email"
            placeholder="Nhập email"
            class="login-input"
          />
          <v-text-field
            v-model="codeConfirm"
            outlined
            :rules="ruleCodeConfirm"
            required
            type="text"
            rounded
            label="Mã xác nhận"
            placeholder="Mã xác nhận"
            class="login-input"
          />
          <v-text-field
            v-model="newPassword"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="ruleNewPassword"
            :type="show ? 'text' : 'password'"
            outlined
            dense
            required
            rounded
            label="Mật khẩu mới"
            placeholder="Mật khẩu mới"
            class="login-input"
            @click:append="show = !show"
          />
          <v-text-field
            v-model="confirmNewPassword"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="ruleConfirmPassword"
            :type="show ? 'text' : 'password'"
            outlined
            dense
            required
            rounded
            label="Mật khẩu mới (xác nhận lại)"
            placeholder="Mật khẩu mới (xác nhận lại)"
            class="login-input"
            @click:append="show = !show"
          />
          <v-btn block dark x-large color="#FF5722" :loading="loadingLogin" @click="resetPass()">Gửi mã xác nhận</v-btn>
          <v-divider color="#e6e4eb" class="my-5"/>
          <v-btn block outlined class="mb-4" color="#FF5722" @click="$router.push('/login')">Đăng nhập</v-btn>
          <v-btn block dark x-large color="#00CD15" @click="register()">Tạo tài khoản mới</v-btn>
        </div>
      </v-form>
    </div>
    <v-dialog
      v-model="dialog"
      width="700"
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/Error.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4">
          {{messageError}}
        </v-card-title>
        <v-btn dark large color="rgb(255, 87, 34)" class="btn-popup-message" @click="closeDialogError">
          Ok
        </v-btn>
      </div>        
    </v-dialog>
    <v-dialog
      v-model="dialogSuccess"
      width="700"
    >
      <div class="pa-7 dialog-message">
        <img
          :src="require(`~/assets/img/success.svg`)"
          style="width: 200px;"
        />
        <v-card-title class="text-h5 mb-4">
          Lấy lại mật khẩu thành công!
        </v-card-title>
        <v-btn dark large color="success" class="btn-popup-message" @click="$router.push('/login')">
            Ok
          </v-btn>
      </div>  
    </v-dialog>
  </v-container>
</template>

<script>

export default {
  layout: 'login',
  // middleware: ['guest'],
  data() {
    return {
      email: '',
      codeConfirm: '',
      emailSecond: '',
      password: '',
      show: false,
      step1: true,
      ruleEmail: [
        (v) => !!v || 'Chưa nhập email',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      ruleEmailSecond: [
        (v) => !!v || 'Chưa nhập email',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      ruleCodeConfirm: [
        (v) => !!v || 'Chưa nhập mã xác nhận',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      rulePassword: [
        (v) => !!v || 'Chưa nhập mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
      ],
      loadingLogin: false,
      dialog: false,
      messageError: 'Có lỗi trong quá trình xử lý. Xin vui lòng thử lại sau!',
      newPassword: '',
      confirmNewPassword: '',
      ruleNewPassword: [
        (v) => !!v || 'Vui lòng nhập mật khẩu mới',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) => v.length >= 6 || 'Mật khẩu mới tối thiểu 6 ký tự',
        (v) =>
          this.password !== this.newPassword ||
          'Trùng với mật khẩu cũ'
      ],
      ruleConfirmPassword: [
        (v) => !!v || 'Vui lòng xác nhận mật khẩu',
        (v) => v.length <= 50 || 'Tối đa 50 ký tự',
        (v) =>
          this.confirmNewPassword === this.newPassword ||
          'Mật khẩu chưa khớp'
      ],
      dialogSuccess: false
    }
  },

  methods: {
    async sendCode() {
      if (this.$refs.form1.validate()) {
        try {
          this.loadingLogin = true
          await this.$api.userManager.sendCodeResetPassword(this.email)
          this.loadingLogin = false
          this.step1 = false
        } catch (error) {
          this.dialog = true
          this.loadingLogin = false
        }
      }
    },
    async resetPass() {
      if (this.$refs.form2.validate()) {
        try {
          this.loadingLogin = true          
          const { data } = await this.$api.userManager.confirmPass(this.emailSecond, this.codeConfirm)
          console.log(data, 123);
          await this.$api.userManager.setPassword(data.data.id, this.confirmNewPassword)
          this.loadingLogin = false
          this.dialogSuccess = true
        } catch (error) {
          this.dialog = true
          this.loadingLogin = false
        }
      }
    },
    logout() {
      this.$auth.logout()
    },
    register() {
      this.$router.push('/register')
    },
    closeDialogError () {
      this.dialog = false
      this.messageError = 'Email hoặc mật khẩu không đúng!'
    }
  },
}
</script>

<style lang="scss" scoped>
.login-form {
  width: 35%;
  background: #fff;
  border-radius: 4px;
  margin: auto;
}
.dialog-message {
  background: rgb(61, 65, 75);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  .btn-popup-message {
    width: 100px;
    border-radius: 1000px;
  }
}
</style>